Repository chef/chef-workstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers, @chef/jex-team, @chef/docs-team, @chef/user-experience

Bump chef-cli to 5.6.21
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated chef-cli to latest v5.6.21
  components/gems/Gemfile
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated chef and inspec version to latest
  components/gems/Gemfile.lock
  omnibus/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

added env NOKOGIRI_LIBXML2_PATCH_VERSION
  omnibus/config/software/gems.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump berkshelf to 8.0.22
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated berkshelf to latest
  components/gems/Gemfile
  components/gems/Gemfile.lock
  omnibus/Gemfile
  omnibus/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

removing the env which was added for testing build
  omnibus/config/software/gems.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

reverting back lixsml2 version
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updating libxml2 to 2.13.5
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

added up libxml2 v2.13.8
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updating libxml2 v2.13.5
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated nokogiri and libxml2
  components/gems/Gemfile.lock
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

downgraded nokogiri
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

reverted back libxsml2 version
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

removed libxslt
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated chef-analyze
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

removing rexml older version < 3.3.6
  omnibus/config/projects/chef-workstation.rb
  omnibus/config/software/remove-old-gems.rb
  omnibus/omnibus-test.ps1
  omnibus/omnibus-test.sh
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Updated gems and dependencies for upcoming chef workstation 25.5 release (#3340)
  components/gems/Gemfile.lock
  omnibus/Gemfile.lock
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

trying libxml2 v2.12.10
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

removing rexml older version < 3.3.6
  omnibus/config/projects/chef-workstation.rb
  omnibus/config/software/remove-old-gems.rb
  omnibus/omnibus-test.ps1
  omnibus/omnibus-test.sh
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

added new line
  omnibus/config/software/remove-old-gems.rb
  omnibus/omnibus-test.ps1
  omnibus/omnibus-test.sh
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated omnibus s/w version
  omnibus/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated var name to gembin
  omnibus/config/software/remove-old-gems.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Updating libxml2 to v2.12.10 (#3341)
  omnibus/Gemfile.lock
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Remove rexml versions with potential CVEs (#3342)
  omnibus/config/projects/chef-workstation.rb
  omnibus/config/software/remove-old-gems.rb
  omnibus/omnibus-test.ps1
  omnibus/omnibus-test.sh
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Update CHANGELOG.md to reflect the promotion of 25.5.1084
  CHANGELOG.md
  Dockerfile
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

describe refresh command extensively
  docs-chef-io/content/workstation/chef_vault.md
Owners: @chef/docs-team

update Note for refresh command
  docs-chef-io/content/workstation/chef_vault.md
Owners: @chef/docs-team

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump kitchen-ec2 to 3.19.1
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump kitchen-ec2 to 3.20.0
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump test-kitchen to 3.7.2
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump chef-zero to 15.0.21
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump kitchen-dokken to 2.20.8
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump test-kitchen to 3.8.0
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Updated the test-kitchen to 3.8.0 which adds support for SSH transport for windows
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Update knife_org.md
  docs-chef-io/content/workstation/knife_org.md
Owners: @chef/docs-team

Building the windows on 2016 and removed the windows 8 and 2012
  .expeditor/release.omnibus.yml
Owners: @chef/jex-team

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence.

*                           @chef/chef-workstation-owners @chef/chef-workstation-approvers  @chef/chef-workstation-reviewers
.expeditor/                 @chef/jex-team
README.md                   @chef/docs-team
components/chef-cli/i18n/** @chef/user-experience
docs-chef-io/               @chef/docs-team
