Repository chef/chef-workstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers, @chef/jex-team, @chef/docs-team, @chef/user-experience

Bump cookstyle to 7.32.1
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Updated the platforms to identify the windows
  components/gems/Gemfile
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Updated the platforms to identify the windows (#2635)
  components/gems/Gemfile
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

keep version in sync with Gemfile.lock entry
  omnibus/config/software/rb-fsevent-gem.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Replace version with full SHA
  omnibus/config/software/rb-fsevent-gem.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

attempt to keep rb-fsevent version in sync. (#2637)
  omnibus/config/software/rb-fsevent-gem.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump train to 3.8.9
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump chef-analyze CLI to 0.1.130
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump Chef Workstation App to 0.2.127
  omnibus/config/software/chef-workstation-app.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump chef-analyze CLI to 0.1.131
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump chef-analyze CLI to 0.1.132
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump chef-analyze CLI to 0.1.133
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Go-chef-cli integration
  components/main-chef-wrapper/cmd/supermarket.go
  components/main-chef-wrapper/go.mod
  components/main-chef-wrapper/go.sum
  components/main-chef-wrapper/vendor/github.com/mitchellh/go-homedir/go.mod
  components/main-chef-wrapper/vendor/github.com/spf13/cobra/go.mod
  components/main-chef-wrapper/vendor/github.com/spf13/cobra/go.sum
  components/main-chef-wrapper/vendor/github.com/spf13/pflag/go.mod
  components/main-chef-wrapper/vendor/github.com/spf13/pflag/go.sum
  components/main-chef-wrapper/vendor/gopkg.in/yaml.v3/go.mod
  components/main-chef-wrapper/vendor/modules.txt
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Update docs makefile
  docs-chef-io/Makefile
Owners: @chef/docs-team

Update docs makefile (#2650)
  docs-chef-io/Makefile
Owners: @chef/docs-team

Get docs lint config files, for precommit use
  .expeditor/update_docs_lints.sh
Owners: @chef/jex-team

Get docs lint config files, for precommit use (#2640)
  .expeditor/update_docs_lints.sh
Owners: @chef/jex-team

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump chef-analyze CLI to 0.1.134
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump inspec-bin to 4.56.17
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump Chef Workstation App to 0.2.129
  omnibus/config/software/chef-workstation-app.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Edits to improve linting (#2631)
  .vale.ini
  cspell.json
  docs-chef-io/content/workstation/_index.md
  docs-chef-io/content/workstation/berkshelf.md
  docs-chef-io/content/workstation/chef-workstation-app.md
  docs-chef-io/content/workstation/chef_run.md
  docs-chef-io/content/workstation/chef_shell.md
  docs-chef-io/content/workstation/chef_vault.md
  docs-chef-io/content/workstation/chefspec.md
  docs-chef-io/content/workstation/config_rb.md
  docs-chef-io/content/workstation/config_rb_optional_settings.md
  docs-chef-io/content/workstation/config_yml_kitchen.md
  docs-chef-io/content/workstation/cookstyle/_index.md
  docs-chef-io/content/workstation/ctl_chef.md
  docs-chef-io/content/workstation/foodcritic.md
  docs-chef-io/content/workstation/install_workstation.md
  docs-chef-io/content/workstation/knife.md
  docs-chef-io/content/workstation/knife_cookbook_site.md
  docs-chef-io/content/workstation/knife_deps.md
  docs-chef-io/content/workstation/knife_environment.md
  docs-chef-io/content/workstation/knife_exec.md
  docs-chef-io/content/workstation/knife_node.md
  docs-chef-io/content/workstation/knife_options.md
  docs-chef-io/content/workstation/knife_setup.md
  docs-chef-io/content/workstation/knife_ssh.md
  docs-chef-io/content/workstation/knife_ssl_check.md
  docs-chef-io/content/workstation/knife_ssl_fetch.md
  docs-chef-io/content/workstation/knife_tag.md
  docs-chef-io/content/workstation/knife_windows.md
  docs-chef-io/content/workstation/plugin_knife_custom.md
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers, @chef/docs-team

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Update internal artifactory URL
  .expeditor/update_chef-workstation-app_to_latest.sh
Owners: @chef/jex-team

Update CHANGELOG.md with details from pull request #2656
  CHANGELOG.md
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Remove extra periods from knife_client.md
  docs-chef-io/content/workstation/knife_client.md
Owners: @chef/docs-team

Remove extra periods from knife_client.md (#2657)
  docs-chef-io/content/workstation/knife_client.md
Owners: @chef/docs-team

Bump Chef Workstation App to 0.2.130
  omnibus/config/software/chef-workstation-app.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

added the sha1 and the latest ws-app version
  omnibus/config/software/chef-workstation-app.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

added the sha1 and the latest ws-app version (#2658)
  omnibus/config/software/chef-workstation-app.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence.

*                           @chef/chef-workstation-owners @chef/chef-workstation-approvers  @chef/chef-workstation-reviewers
.expeditor/                 @chef/jex-team
README.md                   @chef/docs-team
components/chef-cli/i18n/** @chef/user-experience
docs-chef-io/               @chef/docs-team
