Repository chef/chef-workstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers, @chef/jex-team, @chef/docs-team, @chef/user-experience

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence.

*                           @chef/chef-workstation-owners @chef/chef-workstation-approvers  @chef/chef-workstation-reviewers
.expeditor/                 @chef/jex-team
README.md                   @chef/docs-team
components/chef-cli/i18n/** @chef/user-experience
docs-chef-io/               @chef/docs-team

invoke request tsl update
  omnibus/config/software/gems.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Install chef-cli from the s3 bucket
  omnibus/config/software/gems.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated Gemfile.lock with updated version
  components/gems/Gemfile.lock
  omnibus/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

remove the ffi from omnibus-sw
  omnibus/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

exclude shell-init from license enforcement
  components/main-chef-wrapper/main.go
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

reverted mixlib-shellout to 3.2.7
  components/gems/Gemfile.lock
  omnibus/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

reverted omnibus for testing
  omnibus/Gemfile.lock
  omnibus/config/software/chef-analyze.rb
  omnibus/config/software/main-chef-wrapper.rb
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

reverted omnibus for testing
  components/gems/Gemfile.lock
  omnibus/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

reverted omnibus for testing
  omnibus/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated gems and dependencies to latest
  components/gems/Gemfile.lock
  omnibus/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated gems and dependencies
  components/gems/Gemfile.lock
  omnibus/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

removed extra lines
  components/gems/Gemfile.lock
  omnibus/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Updated gems for Workstation 24.8 release (#3258)
  components/gems/Gemfile.lock
  omnibus/Gemfile.lock
  omnibus/config/software/chef-analyze.rb
  omnibus/config/software/main-chef-wrapper.rb
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Vendor updates
  components/main-chef-wrapper/go.mod
  components/main-chef-wrapper/vendor/github.com/chef/chef-licensing/components/go/pkg/api/api_client.go
  components/main-chef-wrapper/vendor/github.com/chef/chef-licensing/components/go/pkg/api/client.go
  components/main-chef-wrapper/vendor/github.com/chef/chef-licensing/components/go/pkg/api/feature_entitlement.go
  components/main-chef-wrapper/vendor/github.com/chef/chef-licensing/components/go/pkg/api/list_licenses.go
  components/main-chef-wrapper/vendor/github.com/chef/chef-licensing/components/go/pkg/api/software_entitlement.go
  components/main-chef-wrapper/vendor/github.com/chef/chef-licensing/components/go/pkg/chef_licensing.go
  components/main-chef-wrapper/vendor/github.com/chef/chef-licensing/components/go/pkg/key_fetcher/action.go
  components/main-chef-wrapper/vendor/github.com/chef/chef-licensing/components/go/pkg/key_fetcher/conditions.go
  components/main-chef-wrapper/vendor/github.com/chef/chef-licensing/components/go/pkg/key_fetcher/file_fetcher.go
  components/main-chef-wrapper/vendor/github.com/chef/chef-licensing/components/go/pkg/key_fetcher/file_handler.go
  components/main-chef-wrapper/vendor/github.com/chef/chef-licensing/components/go/pkg/key_fetcher/key_fetcher.go
  components/main-chef-wrapper/vendor/github.com/chef/chef-licensing/components/go/pkg/key_fetcher/license_key_fetcher.go
  components/main-chef-wrapper/vendor/github.com/chef/chef-licensing/components/go/pkg/key_fetcher/prompt.go
  components/main-chef-wrapper/vendor/github.com/chef/chef-licensing/components/go/pkg/spinner/spinner.go
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated docs with the updated versions
  docs-chef-io/content/workstation/install_workstation.md
Owners: @chef/docs-team

updated docs with the updated versions (#3267)
  docs-chef-io/content/workstation/install_workstation.md
Owners: @chef/docs-team

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Update CHANGELOG.md to reflect the promotion of 24.8.1068
  CHANGELOG.md
  Dockerfile
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Updated knife changes
  components/gems/Gemfile
  components/gems/Gemfile.lock
  components/main-chef-wrapper/main.go
  omnibus/config/software/gems.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Update knife_ssh.md
  docs-chef-io/content/workstation/knife_ssh.md
Owners: @chef/docs-team

removing ws-app
  .expeditor/config.yml
  .expeditor/update_chef-workstation-app_to_latest.sh
  RELEASE_PROCESS.md
  omnibus/config/projects/chef-workstation.rb
  omnibus/config/software/chef-workstation-app.rb
  omnibus/files/uninstall-scripts/uninstall_chef_workstation
  omnibus/omnibus-test.sh
  omnibus/package-scripts/chef-workstation/postinst
  omnibus/package-scripts/chef-workstation/postrm
  omnibus/resources/chef-workstation/msi/source.wxs.erb
Owners: @chef/jex-team, @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

removing ws-app from bundleing
  .expeditor/config.yml
  .expeditor/update_chef-workstation-app_to_latest.sh
  RELEASE_PROCESS.md
  omnibus/config/projects/chef-workstation.rb
  omnibus/config/software/chef-workstation-app.rb
  omnibus/files/uninstall-scripts/uninstall_chef_workstation
  omnibus/omnibus-test.sh
  omnibus/package-scripts/chef-workstation/postinst
  omnibus/resources/chef-workstation/msi/source.wxs.erb
Owners: @chef/jex-team, @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated the signing key
  omnibus/config/projects/chef-workstation.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

removed the ws-app
  omnibus/resources/chef-workstation/msi/source.wxs.erb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updatd the docs pages to remove ws-app
  README.md
  docs-chef-io/content/workstation/chef-workstation-app.md
  docs-chef-io/content/workstation/install_workstation.md
  omnibus/resources/chef-workstation/pkg/welcome.html.erb
Owners: @chef/docs-team, @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated postinst to remove plist and ws-app
  omnibus/package-scripts/chef-workstation/postinst
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

removing the app launcher
  omnibus/package-scripts/chef-workstation/postinst
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Fetch the test-kitchen from the chef fork
  components/gems/Gemfile
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Pipeline error for go version 1.22.5 so change it to 1.22
  components/main-chef-wrapper/go.mod
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

change the go version in plan.sh
  habitat/plan.sh
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Removing vendor cache and mod vendor
  .expeditor/verify.pipeline.yml
  components/main-chef-wrapper/.studiorc
Owners: @chef/jex-team, @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

update go.mod and go.sum
  components/main-chef-wrapper/go.mod
  components/main-chef-wrapper/go.sum
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Added back the gems removed accidentally
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Some more gems
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Custom OpenSSL hab package
  components/openssl/README.md
  components/openssl/ca_fips_legacy.patch
  components/openssl/openssl.cnf
  components/openssl/plan.ps1
  components/openssl/plan.sh
Owners: @chef/docs-team, @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Directory changes
  components/openssl/habitat/README.md
  components/openssl/habitat/ca_fips_legacy.patch
  components/openssl/habitat/openssl.cnf
  components/openssl/habitat/plan.ps1
  components/openssl/habitat/plan.sh
Owners: @chef/docs-team, @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated the chef package link
  docs-chef-io/content/workstation/install_workstation.md
Owners: @chef/docs-team

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated plan.sh file to work with different hab packages
  components/gems/post-bundle-install.rb
  config/software/gem-version-manifest.rb
  config/software/installed_gems_as_json.rb
  habitat/plan.sh
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers
