Repository chef/chef-workstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers, @chef/jex-team, @chef/docs-team, @chef/user-experience

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence.

*                           @chef/chef-workstation-owners @chef/chef-workstation-approvers  @chef/chef-workstation-reviewers
.expeditor/                 @chef/jex-team
README.md                   @chef/docs-team
components/chef-cli/i18n/** @chef/user-experience
docs-chef-io/               @chef/docs-team

bye nokogiri dependent gems
  src/workstation-gui/Gemfile
  src/workstation-gui/config/application.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

remove test gem deps
  src/workstation-gui/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

rails needs nokogiri, exclude for mac
  src/workstation-gui/Gemfile
  src/workstation-gui/config/application.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

add Gemfile.lock with specific nokogiri version
  src/workstation-gui/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

bundler version in sync with other Gemfile.lock's
  src/workstation-gui/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Fix a bunch of typos and a few bad links
  docs-chef-io/content/workstation/config_rb_optional_settings.md
  docs-chef-io/content/workstation/getting_started.md
Owners: @chef/docs-team

Fix a bunch of typos and a few bad links (#2970)
  docs-chef-io/content/workstation/config_rb_optional_settings.md
  docs-chef-io/content/workstation/getting_started.md
Owners: @chef/docs-team

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

disable git caching
  omnibus/omnibus.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

remove redundant dep
  omnibus/config/software/gems.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Minor correction on config.md
  docs-chef-io/content/workstation/config.md
Owners: @chef/docs-team

Minor correction on config.md (#2972)
  docs-chef-io/content/workstation/config.md
Owners: @chef/docs-team

no wsui bundle package cmd for now
  omnibus/config/software/workstation-gui.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

reintroduce ruby dep in wsui def
  omnibus/config/software/workstation-gui.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump mixlib-install to 3.12.24
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Fix macOS packaging issues (#2975)
  omnibus/Gemfile
  omnibus/Gemfile.lock
  omnibus/config/projects/chef-workstation.rb
  omnibus/config/software/gems.rb
  omnibus/config/software/workstation-gui.rb
  omnibus/omnibus.rb
  omnibus_overrides.rb
  src/workstation-gui/.ruby-version
  src/workstation-gui/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Fix a few typos
  docs-chef-io/content/workstation/ctl_chef.md
  docs-chef-io/layouts/shortcodes/chef-workstation/ctl_chef_install.md
  docs-chef-io/layouts/shortcodes/chef-workstation/ctl_chef_undelete.md
Owners: @chef/docs-team

Fix a few typos (#2977)
  docs-chef-io/content/workstation/ctl_chef.md
  docs-chef-io/layouts/shortcodes/chef-workstation/ctl_chef_install.md
  docs-chef-io/layouts/shortcodes/chef-workstation/ctl_chef_undelete.md
Owners: @chef/docs-team

Removed the unwanted file
  src/workstation-gui/regen.bash
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Update docs-chef-io/layouts/shortcodes/chef-workstation/ctl_chef_install.md
  docs-chef-io/layouts/shortcodes/chef-workstation/ctl_chef_install.md
Owners: @chef/docs-team

remove note tag in shortcode
  docs-chef-io/layouts/shortcodes/chef-workstation/ctl_chef_install.md
Owners: @chef/docs-team

define separate shortcode
  docs-chef-io/content/workstation/ctl_chef.md
  docs-chef-io/layouts/shortcodes/chef-workstation/ctl_chef_install.md
  docs-chef-io/layouts/shortcodes/chef-workstation/ctl_chef_install_cache_note.md
Owners: @chef/docs-team

remove reference to non-existent shortcode
  docs-chef-io/content/workstation/ctl_chef.md
Owners: @chef/docs-team

Add note on cache directory
  docs-chef-io/layouts/shortcodes/chef-workstation/ctl_chef_install.md
Owners: @chef/docs-team

move note to start of page
  docs-chef-io/content/workstation/ctl_chef.md
  docs-chef-io/layouts/shortcodes/chef-workstation/ctl_chef_install.md
Owners: @chef/docs-team

align with shortcode convention
  docs-chef-io/layouts/shortcodes/chef-workstation/ctl_chef_install.md
  docs-chef-io/layouts/shortcodes/chef-workstation/ctl_chef_install_cache_note.md
Owners: @chef/docs-team

Update note with set env var specs
  docs-chef-io/layouts/shortcodes/chef-workstation/ctl_chef_install.md
Owners: @chef/docs-team

INFWS-151 Add a note on cache directory (#2964)
  docs-chef-io/content/workstation/ctl_chef.md
Owners: @chef/docs-team

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Updated the workstation build to Ubuntu 18
  .expeditor/release.omnibus.yml
Owners: @chef/jex-team

Updated the supported platforms for Ubuntu
  docs-chef-io/content/workstation/install_workstation.md
Owners: @chef/docs-team

Removed Ubuntu 16 and added support for Ubuntu 22.04 (#2982)
  .expeditor/release.omnibus.yml
  docs-chef-io/content/workstation/install_workstation.md
Owners: @chef/jex-team, @chef/docs-team

Bump Chef Workstation App to 0.2.179
  omnibus/config/software/chef-workstation-app.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Switched the rails env to production
  src/workstation-gui/.env
  src/workstation-gui/.gitignore
  src/workstation-gui/config/application.rb
  src/workstation-gui/config/environments/production.rb
  src/workstation-gui/config/puma.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Terminated the existing api server while update on windows
  src/workstation-gui/server.ps1
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Updated the port number back to 7050
  src/workstation-gui/.env
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers
