Repository chef/chef-workstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers, @chef/jex-team, @chef/docs-team, @chef/user-experience

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence.

*                           @chef/chef-workstation-owners @chef/chef-workstation-approvers  @chef/chef-workstation-reviewers
.expeditor/                 @chef/jex-team
README.md                   @chef/docs-team
components/chef-cli/i18n/** @chef/user-experience
docs-chef-io/               @chef/docs-team

updated kitchen-dokken to pull latest version
  components/gems/Gemfile
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Updating kitchen-dokken to v2.22.2 (#3503)
  components/gems/Gemfile
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump version to 25.12.1105 by Chef Expeditor
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

dependabot CVEs fixes
  components/gems/Gemfile.lock
  omnibus/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

reverted back nokogiri since 1.19.1 require ruby >= 3.2
  components/gems/Gemfile
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Dependabot alerts fixes. (#3506)
  components/gems/Gemfile
  components/gems/Gemfile.lock
  omnibus/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump version to 25.12.1106 by Chef Expeditor
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Configure Black Duck to scan only components/gems directory
  .github/workflows/ci-main-pull-request-stub.yml
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated version
  .github/workflows/ci-main-pull-request-stub.yml
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

added config to detect gemfile.lock in sub directories
  .github/workflows/ci-main-pull-request-stub.yml
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

update chef workstation to latest v25.12.1105 for sbom scan
  .github/workflows/ci-main-pull-request-stub.yml
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

added config to scan sub directories for Gemfile.lock
  .github/workflows/ci-main-pull-request-stub.yml
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

added config to detect gemfile.lock in sub directories
  .github/workflows/ci-main-pull-request-stub.yml
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

update chef workstation to latest v25.12.1106 for scan
  .github/workflows/ci-main-pull-request-stub.yml
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump chef-analyze CLI to 0.1.188
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated go in main-chef-wrapper for CVEs fix
  components/main-chef-wrapper/go.mod
  docs-chef-io/go.mod
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers, @chef/docs-team

Remove release notes Expeditor actions
  .expeditor/announce-release.sh
  .expeditor/config.yml
  .expeditor/publish-release-notes.sh
  .github/copilot-instructions.md
  RELEASE_PROCESS.md
  dev-docs/Release-Process.md
  docs-chef-io/content/workstation/install_workstation.md
Owners: @chef/jex-team, @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers, @chef/docs-team

updated .studiorc to core/go25
  components/main-chef-wrapper/.studiorc
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated main-chef-wrapper to 1.25.3
  components/main-chef-wrapper/go.mod
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated docs-chef-io/go.mod to 1.25.3
  docs-chef-io/go.mod
Owners: @chef/docs-team

reverted go.mod in docs.chef.io
  docs-chef-io/go.mod
Owners: @chef/docs-team

Updated go in main-chef-wrapper to v1.25.3 (#3508)
  components/main-chef-wrapper/.studiorc
  components/main-chef-wrapper/go.mod
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump version to 25.12.1107 by Chef Expeditor
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated go in main-chef-wrapper
  components/main-chef-wrapper/go.mod
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump chef-analyze CLI to 0.1.189
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated the chef-analyze to pull from githb since its not there in artifactory
  omnibus/config/software/chef-analyze.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated chef-analyze version in chef-analyze.rb
  omnibus/config/software/chef-analyze.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Remove release notes Expeditor actions (#3485)
  .expeditor/announce-release.sh
  .expeditor/config.yml
  .expeditor/publish-release-notes.sh
  .github/copilot-instructions.md
  RELEASE_PROCESS.md
  dev-docs/Release-Process.md
  docs-chef-io/content/workstation/install_workstation.md
Owners: @chef/jex-team, @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers, @chef/docs-team

Update CHANGELOG.md with details from pull request #3485
  CHANGELOG.md
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Fix links
  RELEASE_PROCESS.md
  dev-docs/Release-Process.md
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated go to v1.25.6
  components/main-chef-wrapper/go.mod
  components/main-chef-wrapper/go.sum
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated go to v1.25.6 (#3514)
  components/main-chef-wrapper/go.mod
  components/main-chef-wrapper/go.sum
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump version to 25.12.1108 by Chef Expeditor
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump chef-analyze CLI to 0.1.190
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated chef-analyze to 0.1.190 and go in main-chef-wrapper to 1.25.6
  omnibus/config/software/chef-analyze.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump chef-analyze CLI to 0.1.191
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

update chef-analyze to 0.1.191
  omnibus/config/software/chef-analyze.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump version to 25.13.0 by Chef Expeditor
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Updated NOTICE for CW 25.13 release
  NOTICE
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Updated NOTICE for CW 25.13 release (#3512)
  NOTICE
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers
