Repository chef/chef-workstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers, @chef/jex-team, @chef/docs-team, @chef/user-experience

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence.

*                           @chef/chef-workstation-owners @chef/chef-workstation-approvers  @chef/chef-workstation-reviewers
.expeditor/                 @chef/jex-team
README.md                   @chef/docs-team
components/chef-cli/i18n/** @chef/user-experience
docs-chef-io/               @chef/docs-team

updated plan.sh file to work with different hab packages
  config/software/config/software/installed_gems_as_json.rb
  habitat/plan.sh
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

installed_gems_as_json.rb path issue fixed
  config/software/installed_gems_as_json.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated the origin variable for different components
  habitat/plan.sh
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated libxml2 and libarchive and gems
  components/gems/Gemfile.lock
  omnibus/Gemfile.lock
  omnibus/config/software/openssl.rb
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Some more gems
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Fetch the test-kitchen from the chef fork
  components/gems/Gemfile
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Added back the gems removed accidentally
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

added git-windows 2.47.0
  components/gems/Gemfile.lock
  omnibus/Gemfile.lock
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

fixing the rdoc CVE
  components/gems/Gemfile
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

fixing the gemfile.lock issues
  components/gems/Gemfile
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

removed the feature flag for licensing and called the licensing package
  components/main-chef-wrapper/cmd/root.go
  components/main-chef-wrapper/main.go
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Updated the chef-main-wrapper with the licensing changes
  components/main-chef-wrapper/cmd/license.go
  components/main-chef-wrapper/go.mod
  components/main-chef-wrapper/go.sum
  components/main-chef-wrapper/main.go
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Updated the env lookup scenario
  components/main-chef-wrapper/main.go
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

exclude shell-init from license enforcement
  components/main-chef-wrapper/main.go
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

trying to update curl to 8.6.0
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Removing the WS-GUI-app (#3277)
  .expeditor/config.yml
  .expeditor/update_chef-workstation-app_to_latest.sh
  README.md
  RELEASE_PROCESS.md
  docs-chef-io/content/workstation/chef-workstation-app.md
  docs-chef-io/content/workstation/install_workstation.md
  omnibus/config/projects/chef-workstation.rb
  omnibus/config/software/chef-workstation-app.rb
  omnibus/files/uninstall-scripts/uninstall_chef_workstation
  omnibus/omnibus-test.sh
  omnibus/package-scripts/chef-workstation/postinst
  omnibus/package-scripts/chef-workstation/postrm
  omnibus/resources/chef-workstation/msi/source.wxs.erb
  omnibus/resources/chef-workstation/pkg/welcome.html.erb
Owners: @chef/jex-team, @chef/docs-team, @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated the signing_identity and keypair_alias for windows
  omnibus/config/projects/chef-workstation.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

reverted back the curl version to 8.4.0
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated the omnibus-sw and chef-cli gem versions to latest
  components/gems/Gemfile.lock
  omnibus/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

reverted test-kitchen version
  components/gems/Gemfile.lock
  omnibus/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

upgrading ruby to 3.1.6
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

upgrading ruby-devkit to 3.1.6
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

upgrading ruby and ruby-devkit to 3.1.6
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

adding back the ffi
  omnibus/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

CHEF-15132-Updated Libraries having CVEs for upcoming WS release (#3283)
  components/gems/Gemfile
  components/gems/Gemfile.lock
  omnibus/Gemfile.lock
  omnibus/config/projects/chef-workstation.rb
  omnibus/config/software/openssl.rb
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Remove hosted chef from docs
  docs-chef-io/content/workstation/config_rb.md
  docs-chef-io/content/workstation/getting_started.md
Owners: @chef/docs-team

Correct download APIs
  docs-chef-io/content/workstation/install_workstation.md
Owners: @chef/docs-team

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updating lock with the chef 18.6.2
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

adding back removed gems
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updating chef and knife to 18.6.2 in omnibus gemfile.lock
  components/gems/Gemfile.lock
  omnibus/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

reverting back gem version
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

reverting back gem version
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updating chef gem arch for windows
  components/gems/Gemfile.lock
  omnibus/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

CHEF-15132-Workstation release 24.12 (#3288)
  components/gems/Gemfile.lock
  omnibus/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Update CHANGELOG.md to reflect the promotion of 24.12.1073
  CHANGELOG.md
  Dockerfile
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated the IO.read to File.read to fix vulenrability
  omnibus/config/projects/chef-workstation.rb
  omnibus/config/software/powershell-scripts.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers
