Repository chef/chef-workstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers, @chef/jex-team, @chef/docs-team, @chef/user-experience

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence.

*                           @chef/chef-workstation-owners @chef/chef-workstation-approvers  @chef/chef-workstation-reviewers
.expeditor/                 @chef/jex-team
README.md                   @chef/docs-team
components/chef-cli/i18n/** @chef/user-experience
docs-chef-io/               @chef/docs-team

Add m4 - internal_src url
  omnibus/config/software/m4.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Fix google-protobuf url issue
  omnibus/config/software/google-protobuf.rb
  omnibus/config/software/rb-fsevent-gem.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Update internal_src_url - config-guess
  omnibus/config/software/config_guess.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Modified Internal_src url and windows-cert
  omnibus/Gemfile.lock
  omnibus/config/projects/chef-workstation.rb
  omnibus/config/software/chef-analyze.rb
  omnibus/config/software/chef-workstation-app.rb
  omnibus/config/software/config_guess.rb
  omnibus/config/software/git-custom-bindir.rb
  omnibus/config/software/google-protobuf.rb
  omnibus/config/software/habitat.rb
  omnibus/config/software/rb-fsevent-gem.rb
  omnibus/omnibus.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump berkshelf to 8.1.6
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump chef-vault to 4.2.5
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump knife-tidy to 2.3.2
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated latest version of knife-tidy berkshelf and chef-vault
  components/gems/Gemfile.lock
  omnibus/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

pull updated omnibus-software
  omnibus/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump kitchen-vagrant to 2.1.1
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump kitchen-vagrant to 2.1.2
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated kitchen-vagrant to v2.1.2
  components/gems/Gemfile.lock
  omnibus/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

added back ffi
  omnibus/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

added IGNORE_CACHE and EXPIRE_CACHE to true
  .expeditor/config.yml
Owners: @chef/jex-team

CHEF-21810 - Updated gems and dependencies for upcoming chef workstation 25.9 release (#3394)
  .expeditor/config.yml
  components/gems/Gemfile.lock
  omnibus/Gemfile.lock
  omnibus/config/software/git-custom-bindir.rb
  omnibus_overrides.rb
Owners: @chef/jex-team, @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Update supported platforms
  docs-chef-io/content/workstation/reusable/md/workstation_supported_platforms.md
Owners: @chef/docs-team

Update supported platforms (#3416)
  docs-chef-io/content/workstation/reusable/md/workstation_supported_platforms.md
Owners: @chef/docs-team

Apply suggestions from code review
  .github/copilot-instructions.md
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump kitchen-vagrant to 2.1.3
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

adding NOTICE for omnibus chef-workstation
  NOTICE
  omnibus/config/projects/chef-workstation.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

adding NOTICE in omnibus directory
  omnibus/NOTICE
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

adding NOTICE in omnibus directory with diff file name
  omnibus/config/projects/chef-workstation.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

adding NOTICE in omnibus directory with diff file name
  omnibus/config/projects/chef-workstation.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

fixing NOTICE file in the installer path logic
  omnibus/config/projects/chef-workstation.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

fixing NOTICE logic
  omnibus/config/projects/chef-workstation.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

trying to add NOTICE as a dependency
  omnibus/config/projects/chef-workstation.rb
  omnibus/config/software/notice-file.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

trying to add NOTICE as a dependency
  omnibus/config/software/notice-file.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

trying to add NOTICE in root
  NOTICE
  omnibus/config/projects/chef-workstation.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

trying to add NOTICE in root and pull in installer path
  NOTICE
  omnibus/config/projects/chef-workstation.rb
  omnibus/config/software/notice-file.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

trying to add NOTICE in root and pull in installer path
  NOTICE
  omnibus/config/software/notice-file.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

trying to add NOTICE in root and pull in installer path (#3419)
  NOTICE
  omnibus/config/projects/chef-workstation.rb
  omnibus/config/software/notice-file.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Update CHANGELOG.md to reflect the promotion of 25.9.1094
  CHANGELOG.md
  Dockerfile
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

reverted test kitchen to v3.8.1
  components/gems/Gemfile.lock
  omnibus/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Add amazon - fips support
  .expeditor/release.omnibus.yml
Owners: @chef/jex-team

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Removed macOS 12 content
  docs-chef-io/content/workstation/reusable/md/workstation_supported_platforms.md
Owners: @chef/docs-team

Bump test-kitchen to 3.9.1
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers
