Repository chef/chef-workstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers, @chef/jex-team, @chef/docs-team, @chef/user-experience

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence.

*                           @chef/chef-workstation-owners @chef/chef-workstation-approvers  @chef/chef-workstation-reviewers
.expeditor/                 @chef/jex-team
README.md                   @chef/docs-team
components/chef-cli/i18n/** @chef/user-experience
docs-chef-io/               @chef/docs-team

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Update Ruby to 3.0.3
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump kitchen-dokken to 2.17.0
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump test-kitchen to 3.2.2
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Stop producing macOS 10.14 packages
  .expeditor/release.omnibus.yml
  docs-chef-io/content/workstation/install_workstation.md
Owners: @chef/jex-team, @chef/docs-team

Bump test-kitchen to 3.2.1
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump Chef Workstation App to 0.2.87
  omnibus/config/software/chef-workstation-app.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Update CHANGELOG.md to reflect the promotion of 22.1.745
  CHANGELOG.md
  Dockerfile
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump Chef Workstation App to 0.2.107
  omnibus/config/software/chef-workstation-app.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Fix URLs to docs and release process markdown (#2507)
  dev-docs/README.md
Owners: @chef/docs-team

Worked on including habitat package in M1 bundling. (#2456)
  .expeditor/release.omnibus.yml
  .expeditor/update_habitat.sh
  omnibus/config/software/habitat.rb
Owners: @chef/jex-team, @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump Chef Workstation App to 0.2.104
  omnibus/config/software/chef-workstation-app.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Disable omnibus build caching in buildkite
  .expeditor/config.yml
Owners: @chef/jex-team

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Setup dependabot for go deps
  .github/dependabot.yml
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Update git to 2.34.1
  components/gems/Gemfile.lock
  omnibus/config/software/git-custom-bindir.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump chef-analyze CLI to 0.1.121
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump Chef Workstation App to 0.2.95
  omnibus/config/software/chef-workstation-app.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump cookstyle to 7.30.1
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump chef-analyze CLI to 0.1.120
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump Chef Workstation App to 0.2.94
  omnibus/config/software/chef-workstation-app.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers
