Repository chef/chef-workstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers, @chef/jex-team, @chef/docs-team, @chef/user-experience

Bump mixlib-archive to 1.3.3
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Deprecate mac-12
  .expeditor/release.omnibus.yml
Owners: @chef/jex-team

dummy commit
  README.md
Owners: @chef/docs-team

Modified Builder
  .expeditor/release.omnibus.yml
Owners: @chef/jex-team

Bump chef-zero to 15.0.26
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

fixing vulnerability in crypto
  components/main-chef-wrapper/go.mod
  components/main-chef-wrapper/go.sum
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump kitchen-vagrant to 2.2.0
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

fixing vulnerability in crypto (#3440)
  components/main-chef-wrapper/go.mod
  components/main-chef-wrapper/go.sum
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

CHEF-27945: Update google-protobuf to 3.25.5 to fix CVE-2024-7254
  omnibus/config/software/google-protobuf.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

removed the commented to pull from internal artifactory
  omnibus/config/software/google-protobuf.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

fix to remove rexml version < 3.4.2
  omnibus/config/projects/chef-workstation.rb
  omnibus/config/software/remove-old-gems.rb
  omnibus/omnibus-test.ps1
  omnibus/omnibus-test.sh
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated curl to 8.16.0
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

removing rexml < 3.4.2
  omnibus/config/projects/chef-workstation.rb
  omnibus/config/software/remove-old-gems.rb
  omnibus/omnibus-test.ps1
  omnibus/omnibus-test.sh
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

trying to fix el7 error
  omnibus/config/software/google-protobuf.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Update omnibus/omnibus-test.ps1
  omnibus/omnibus-test.ps1
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

update git-windows dependency to 2.48.1
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

use external source to download package
  omnibus/omnibus.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

use internal source to download package
  omnibus/omnibus.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated rack to 3.2.3
  components/gems/Gemfile.lock
  omnibus/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated rack to 3.2.3 (#3451)
  components/gems/Gemfile.lock
  omnibus/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

CHEF-27945: Update google-protobuf to 3.25.5 to fix CVE-2024-7254 (#3446)
  omnibus/config/software/google-protobuf.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

CHEF-27940: Remove old rexml gem versions (#3447)
  omnibus/config/projects/chef-workstation.rb
  omnibus/config/software/remove-old-gems.rb
  omnibus/omnibus-test.ps1
  omnibus/omnibus-test.sh
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

only update omnibus-software
  omnibus/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

CHEF-27943: Fix CVE-2022-32149 in golang.org/x/text
  components/main-chef-wrapper/go.mod
  components/main-chef-wrapper/go.sum
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated curl to 8.16.0 (#3448)
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

CHEF-27943: Fix CVE-2022-32149 in golang.org/x/text (#3452)
  components/main-chef-wrapper/go.mod
  components/main-chef-wrapper/go.sum
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

fixing resolv and imap CVEs
  components/gems/Gemfile
  components/gems/Gemfile.lock
  omnibus/config/software/remove-old-gems.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updating the dependecnies
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Update git-windows dependency to 2.48.1 (#3450)
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

removed the resolve block since its a default gem and cant be removed
  omnibus/config/software/remove-old-gems.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

CHEF-27942: Fix CVE in net-imap and add resolv patch version (#3454)
  components/gems/Gemfile
  components/gems/Gemfile.lock
  omnibus/config/software/remove-old-gems.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

added script to remove rexml 0.2.1 and install latest
  components/gems/Gemfile
  components/gems/Gemfile.lock
  components/gems/post-bundle-install.rb
  cspell.json
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Fix go.mod version format: change 1.24.0 to 1.24
  components/main-chef-wrapper/go.mod
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Update omnibus-software revision
  omnibus/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

installing resolv patch versopn - 0.2.3
  components/gems/post-bundle-install.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

update omnibus-software version
  omnibus/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

update omnibus-software version
  omnibus/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

update test-kitchen v3.9.1
  components/gems/Gemfile.lock
  omnibus/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence.

*                           @chef/chef-workstation-owners @chef/chef-workstation-approvers  @chef/chef-workstation-reviewers
.expeditor/                 @chef/jex-team
README.md                   @chef/docs-team
components/chef-cli/i18n/** @chef/user-experience
docs-chef-io/               @chef/docs-team
