Repository chef/chef-workstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers, @chef/jex-team, @chef/docs-team, @chef/user-experience

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence.

*                           @chef/chef-workstation-owners @chef/chef-workstation-approvers  @chef/chef-workstation-reviewers
.expeditor/                 @chef/jex-team
README.md                   @chef/docs-team
components/chef-cli/i18n/** @chef/user-experience
docs-chef-io/               @chef/docs-team

specific dir
  .github/workflows/docs-lint.yml
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

double quotes
  .github/workflows/docs-lint.yml
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Try with config
  .github/workflows/docs-lint.yml
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

one last effort to see the file
  .github/workflows/docs-lint.yml
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

location, location, location.
  .github/workflows/docs-lint.yml
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

nobody wants this solution.
  .github/workflows/docs-lint.yml
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

reformat yml
  .github/workflows/docs-lint.yml
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

yaml fix
  .github/workflows/docs-lint.yml
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

npm install yaml
  .github/workflows/docs-lint.yml
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

less npm
  .github/workflows/docs-lint.yml
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

trace
  .github/workflows/docs-lint.yml
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Add compliance phase chef generator doc section
  docs-chef-io/content/workstation/ctl_chef.md
Owners: @chef/docs-team

Bump train-winrm to 0.2.13
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

addressed review comment on h3 heading
  docs-chef-io/content/workstation/ctl_chef.md
Owners: @chef/docs-team

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump chef-analyze CLI to 0.1.128
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump Chef Workstation App to 0.2.125
  omnibus/config/software/chef-workstation-app.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump kitchen-vcenter to 2.11.8
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump chef-analyze CLI to 0.1.129
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump Chef Workstation App to 0.2.126
  omnibus/config/software/chef-workstation-app.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump kitchen-azurerm to 1.10.0
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Subscribe to docs lint configs
  .expeditor/config.yml
  .expeditor/update_docs_lints.sh
Owners: @chef/jex-team

Subscribe to docs lint configs
  .expeditor/update_docs_lints.sh
Owners: @chef/jex-team

config fix
  .expeditor/config.yml
Owners: @chef/jex-team

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

mdl config script fix
  .expeditor/update_docs_lints.sh
Owners: @chef/jex-team

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Get specific config file
  .expeditor/update_docs_lints.sh
  .markdownlint.yaml
Owners: @chef/jex-team, @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Update chef/chef-web-docs docs lints.
  .markdownlint.yaml
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Edits to improve linting
  .markdownlint.yaml
  .vale.ini
  cspell.json
  docs-chef-io/content/workstation/_index.md
  docs-chef-io/content/workstation/berkshelf.md
  docs-chef-io/content/workstation/chef-workstation-app.md
  docs-chef-io/content/workstation/chef_run.md
  docs-chef-io/content/workstation/chef_shell.md
  docs-chef-io/content/workstation/chef_vault.md
  docs-chef-io/content/workstation/chefspec.md
  docs-chef-io/content/workstation/config_rb.md
  docs-chef-io/content/workstation/config_rb_optional_settings.md
  docs-chef-io/content/workstation/config_yml_kitchen.md
  docs-chef-io/content/workstation/cookstyle/_index.md
  docs-chef-io/content/workstation/ctl_chef.md
  docs-chef-io/content/workstation/foodcritic.md
  docs-chef-io/content/workstation/install_workstation.md
  docs-chef-io/content/workstation/knife.md
  docs-chef-io/content/workstation/knife_cookbook_site.md
  docs-chef-io/content/workstation/knife_deps.md
  docs-chef-io/content/workstation/knife_environment.md
  docs-chef-io/content/workstation/knife_exec.md
  docs-chef-io/content/workstation/knife_node.md
  docs-chef-io/content/workstation/knife_options.md
  docs-chef-io/content/workstation/knife_setup.md
  docs-chef-io/content/workstation/knife_ssh.md
  docs-chef-io/content/workstation/knife_ssl_check.md
  docs-chef-io/content/workstation/knife_ssl_fetch.md
  docs-chef-io/content/workstation/knife_tag.md
  docs-chef-io/content/workstation/knife_windows.md
  docs-chef-io/content/workstation/plugin_knife_custom.md
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers, @chef/docs-team

warning not warn
  docs-chef-io/content/workstation/berkshelf.md
Owners: @chef/docs-team

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump kitchen-vcenter to 2.11.9
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers
