Repository chef/chef-workstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers, @chef/jex-team, @chef/docs-team, @chef/user-experience

Bump kitchen-dokken to 2.18.0
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated dependency
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump kitchen-dokken to 2.19.0
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

making the gems changes
  .github/workflows/unit.yml
  Gemfile
  components/gems/Gemfile
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

update knife gem
  components/gems/Gemfile
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated gemfile.lock
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated gemfile.lock
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

update gemfile.lock
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated gemfile.lock
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated depreciated method
  omnibus/config/software/rubygems-customization.rb
  omnibus/config/software/windows-env-customization.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Update CHANGELOG.md to reflect the promotion of 22.12.1024
  CHANGELOG.md
  Dockerfile
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

downgraded the bundler version
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump kitchen-vcenter to 2.12.0
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump knife-vsphere to 5.1.0
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated the bundler method
  components/gems/Gemfile
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Cleanup command syntax
  docs-chef-io/content/workstation/knife_bootstrap.md
Owners: @chef/docs-team

Use an ssh-agent with password for knife bootstrap
  docs-chef-io/content/workstation/knife_bootstrap.md
Owners: @chef/docs-team

knife: No Private Key Passphrase Support
  docs-chef-io/content/workstation/knife_bootstrap.md
Owners: @chef/docs-team

updated client version in gui
  components/gems/Gemfile
  components/gems/Gemfile.lock
  src/workstation-gui/Gemfile
  src/workstation-gui/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated gemfile.lock
  components/gems/Gemfile.lock
  omnibus/config/projects/chef-workstation.rb
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

tech-doc review comments applied
  docs-chef-io/content/workstation/chef-workstation-app.md
Owners: @chef/docs-team

Explicitly specify arm64 so Rosetta prompt goes away
  omnibus/resources/chef-workstation/pkg/distribution.xml.erb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated gemfile.lock
  components/gems/Gemfile
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Explicitly specify arm64 so Rosetta prompt goes away (#3025)
  omnibus/resources/chef-workstation/pkg/distribution.xml.erb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated nokogiri gem dependency
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Update as suggested
  docs-chef-io/content/workstation/chef-workstation-app.md
Owners: @chef/docs-team

Update as suggested
  docs-chef-io/content/workstation/chef-workstation-app.md
Owners: @chef/docs-team

Update as suggested
  docs-chef-io/content/workstation/chef-workstation-app.md
Owners: @chef/docs-team

Update as suggested
  docs-chef-io/content/workstation/chef-workstation-app.md
Owners: @chef/docs-team

INFWS-182 Draft GUI App usage notes (#2954)
  docs-chef-io/content/workstation/chef-workstation-app.md
Owners: @chef/docs-team

Update docs-chef-io/content/workstation/knife_bootstrap.md
  docs-chef-io/content/workstation/knife_bootstrap.md
Owners: @chef/docs-team

Documentation: No Private Key Passphrase Support in knife (#3002)
  docs-chef-io/content/workstation/knife_bootstrap.md
Owners: @chef/docs-team

updated win platform dependency
  Rakefile
  components/gems/Gemfile.lock
  habitat/plan.sh
  omnibus/Gemfile.lock
  omnibus_overrides.rb
  src/workstation-gui/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated win platform dependency
  omnibus/Gemfile.lock
  omnibus/config/projects/chef-workstation.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump nokogiri to 1.14.0
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated ruby 3.1
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated minitest gem
  components/gems/Gemfile
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated ucrt support
  .expeditor/config.yml
  .expeditor/release.omnibus.yml
Owners: @chef/jex-team

updated platforms
  components/gems/Gemfile.lock
  omnibus/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence.

*                           @chef/chef-workstation-owners @chef/chef-workstation-approvers  @chef/chef-workstation-reviewers
.expeditor/                 @chef/jex-team
README.md                   @chef/docs-team
components/chef-cli/i18n/** @chef/user-experience
docs-chef-io/               @chef/docs-team
