Repository chef/chef-workstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers, @chef/jex-team, @chef/docs-team, @chef/user-experience

updated go version to 1.21.5
  components/main-chef-wrapper/go.mod
  components/main-chef-wrapper/go.sum
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

reverted back go version
  components/main-chef-wrapper/go.mod
  components/main-chef-wrapper/go.sum
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

revoved some vendor files
  components/main-chef-wrapper/go.sum
  components/main-chef-wrapper/vendor/github.com/aymanbagabas/go-osc52/v2/LICENSE
  components/main-chef-wrapper/vendor/github.com/aymanbagabas/go-osc52/v2/README.md
  components/main-chef-wrapper/vendor/github.com/aymanbagabas/go-osc52/v2/osc52.go
  components/main-chef-wrapper/vendor/github.com/muesli/termenv/copy.go
  components/main-chef-wrapper/vendor/github.com/muesli/termenv/hyperlink.go
  components/main-chef-wrapper/vendor/github.com/muesli/termenv/notification.go
  components/main-chef-wrapper/vendor/github.com/muesli/termenv/output.go
  components/main-chef-wrapper/vendor/github.com/muesli/termenv/profile.go
  components/main-chef-wrapper/vendor/github.com/muesli/termenv/termenv_other.go
  components/main-chef-wrapper/vendor/github.com/muesli/termenv/termenv_posix.go
  components/main-chef-wrapper/vendor/github.com/muesli/termenv/termenv_solaris.go
  components/main-chef-wrapper/vendor/github.com/rivo/uniseg/eastasianwidth.go
  components/main-chef-wrapper/vendor/github.com/rivo/uniseg/emojipresentation.go
  components/main-chef-wrapper/vendor/github.com/rivo/uniseg/gen_breaktest.go
  components/main-chef-wrapper/vendor/github.com/rivo/uniseg/gen_properties.go
  components/main-chef-wrapper/vendor/github.com/rivo/uniseg/graphemeproperties.go
  components/main-chef-wrapper/vendor/github.com/rivo/uniseg/graphemerules.go
  components/main-chef-wrapper/vendor/github.com/rivo/uniseg/line.go
  components/main-chef-wrapper/vendor/github.com/rivo/uniseg/lineproperties.go
  components/main-chef-wrapper/vendor/github.com/rivo/uniseg/linerules.go
  components/main-chef-wrapper/vendor/github.com/rivo/uniseg/sentence.go
  components/main-chef-wrapper/vendor/github.com/rivo/uniseg/sentenceproperties.go
  components/main-chef-wrapper/vendor/github.com/rivo/uniseg/sentencerules.go
  components/main-chef-wrapper/vendor/github.com/rivo/uniseg/step.go
  components/main-chef-wrapper/vendor/github.com/rivo/uniseg/width.go
  components/main-chef-wrapper/vendor/github.com/rivo/uniseg/word.go
  components/main-chef-wrapper/vendor/github.com/rivo/uniseg/wordproperties.go
  components/main-chef-wrapper/vendor/github.com/rivo/uniseg/wordrules.go
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers, @chef/docs-team

Updated dependencies to latest for upcoming chef-workstation release (#3240)
  components/gems/Gemfile.lock
  components/main-chef-wrapper/go.sum
  omnibus/Gemfile.lock
  omnibus/config/software/habitat.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Update CHANGELOG.md to reflect the promotion of 24.6.1066
  CHANGELOG.md
  Dockerfile
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

removed the feature flag for licensing and called the licensing package
  components/main-chef-wrapper/cmd/root.go
  components/main-chef-wrapper/main.go
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

test ruby 3.3
  .expeditor/verify.pipeline.yml
Owners: @chef/jex-team

test ruby 3.3
  .expeditor/verify.pipeline.yml
Owners: @chef/jex-team

test ruby 3.3
  .expeditor/verify.pipeline.yml
Owners: @chef/jex-team

updated the package names
  components/main-chef-wrapper/main.go
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Updated the env lookup scenario
  components/main-chef-wrapper/main.go
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

chef-licensing go with tty updates
  components/main-chef-wrapper/go.mod
  components/main-chef-wrapper/go.sum
  components/main-chef-wrapper/vendor/github.com/chef/chef-licensing/components/go/pkg/key_fetcher/license_key_fetcher.go
  components/main-chef-wrapper/vendor/golang.org/x/sys/unix/mremap.go
  components/main-chef-wrapper/vendor/golang.org/x/sys/unix/syscall_darwin.go
  components/main-chef-wrapper/vendor/golang.org/x/sys/unix/syscall_unix.go
  components/main-chef-wrapper/vendor/golang.org/x/sys/unix/zsyscall_darwin_amd64.go
  components/main-chef-wrapper/vendor/golang.org/x/sys/unix/zsyscall_darwin_amd64.s
  components/main-chef-wrapper/vendor/golang.org/x/sys/unix/zsyscall_darwin_arm64.go
  components/main-chef-wrapper/vendor/golang.org/x/sys/unix/zsyscall_darwin_arm64.s
  components/main-chef-wrapper/vendor/golang.org/x/sys/windows/security_windows.go
  components/main-chef-wrapper/vendor/golang.org/x/sys/windows/zsyscall_windows.go
  components/main-chef-wrapper/vendor/golang.org/x/term/term_unix.go
  components/main-chef-wrapper/vendor/golang.org/x/term/term_unix_bsd.go
  components/main-chef-wrapper/vendor/golang.org/x/term/term_unix_other.go
  components/main-chef-wrapper/vendor/golang.org/x/term/term_unsupported.go
  components/main-chef-wrapper/vendor/modules.txt
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Pointed the chef-cli to branch
  components/gems/Gemfile
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Updated the deps for chef
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Fetch knife from branch for testing
  components/gems/Gemfile
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

removed the chef mingwucrt for testing
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Skipping chef-universal-mingw-ucrt for testing
  components/gems/post-bundle-install.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Debugging the knfie installation
  omnibus/config/software/gems.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Debugging the knfie installation
  omnibus/config/software/gems.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

chef-licensing cr changes and added which command for knife
  components/main-chef-wrapper/vendor/github.com/chef/chef-licensing/components/go/pkg/api/api_client.go
  components/main-chef-wrapper/vendor/github.com/chef/chef-licensing/components/go/pkg/api/client.go
  components/main-chef-wrapper/vendor/github.com/chef/chef-licensing/components/go/pkg/api/feature_entitlement.go
  components/main-chef-wrapper/vendor/github.com/chef/chef-licensing/components/go/pkg/api/software_entitlement.go
  components/main-chef-wrapper/vendor/github.com/chef/chef-licensing/components/go/pkg/key_fetcher/action.go
  components/main-chef-wrapper/vendor/github.com/chef/chef-licensing/components/go/pkg/key_fetcher/conditions.go
  components/main-chef-wrapper/vendor/github.com/chef/chef-licensing/components/go/pkg/key_fetcher/file_fetcher.go
  components/main-chef-wrapper/vendor/github.com/chef/chef-licensing/components/go/pkg/key_fetcher/key_fetcher.go
  components/main-chef-wrapper/vendor/github.com/chef/chef-licensing/components/go/pkg/key_fetcher/license_key_fetcher.go
  components/main-chef-wrapper/vendor/github.com/chef/chef-licensing/components/go/pkg/key_fetcher/prompt.go
  components/main-chef-wrapper/vendor/github.com/chef/chef-licensing/components/go/pkg/spinner/spinner.go
  omnibus/config/software/gems.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Knife testing
  components/gems/post-bundle-install.rb
  omnibus/config/software/gems.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump kitchen-dokken to 2.20.6
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Install knife on gems.rb file
  omnibus/config/software/gems.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

download and install knife from s3
  omnibus/config/software/gems.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Removed knife for testing
  components/gems/Gemfile
  components/gems/Gemfile.lock
  omnibus/config/software/gems.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Skip license enforcement on shell-init command
  components/main-chef-wrapper/main.go
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Instll knife from s3
  omnibus/config/software/gems.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Updated the knife branch
  components/gems/Gemfile
  components/gems/Gemfile.lock
  omnibus/config/software/gems.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated the gems for release
  components/gems/Gemfile.lock
  omnibus/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

added back the windows related gems
  components/gems/Gemfile.lock
  omnibus/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Updated the Gemfile.lock
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Updated the knife to 18.5.1
  components/gems/Gemfile.lock
  omnibus/config/software/gems.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Fixed the knife version typo
  omnibus/config/software/gems.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated libarchive to 3.7.4 and go to 1.22.5
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated cgo env
  omnibus/config/software/main-chef-wrapper.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated cgo env chef-analyze
  omnibus/config/software/chef-analyze.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Document that knife search returns 10000 rows by default.
  docs-chef-io/content/workstation/knife_search.md
Owners: @chef/docs-team

Fix for gem install on windows
  omnibus/config/software/gems.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence.

*                           @chef/chef-workstation-owners @chef/chef-workstation-approvers  @chef/chef-workstation-reviewers
.expeditor/                 @chef/jex-team
README.md                   @chef/docs-team
components/chef-cli/i18n/** @chef/user-experience
docs-chef-io/               @chef/docs-team
