Repository chef/chef-workstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers, @chef/jex-team, @chef/docs-team, @chef/user-experience

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence.

*                           @chef/chef-workstation-owners @chef/chef-workstation-approvers  @chef/chef-workstation-reviewers
.expeditor/                 @chef/jex-team
README.md                   @chef/docs-team
components/chef-cli/i18n/** @chef/user-experience
docs-chef-io/               @chef/docs-team

Updated omnibus to the latest version
  omnibus/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Updated all the dependencies
  components/gems/Gemfile.lock
  omnibus/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump git version to 2.39.3
  omnibus/config/software/git-custom-bindir.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump git version to 2.39.3
  omnibus/config/software/git-custom-bindir.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Updated the git checksum
  omnibus/config/software/git-custom-bindir.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Build on MacOS 11 intel, not EOL 10.15
  .expeditor/release.omnibus.yml
Owners: @chef/jex-team

Updated activesupport to overcome the CVE
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Updated the version to avoid the CVEs
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated the go version
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Updated the version of libxml2
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Updated the versions
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

reverted openssl for testing
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Downgraded curl for testing
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

upgraded zlib and curl
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Updated the openssl version to 1.1.1w
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Updated the go version to 1.21.3
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

update version
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Updated the openssl version to 3.0.1
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated drive
  components/main-chef-wrapper/main.go
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated installation path
  components/main-chef-wrapper/main.go
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

removed the fmt
  components/main-chef-wrapper/main.go
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Fixed the - Chef Workstation Errors When Running from D Drive - "exec... file does not exist" (#3173)
  components/main-chef-wrapper/main.go
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Upgraded openssl to v3.0.4
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Updated the openssl version to 3.0.11
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Updated the stunnel version to 5.71
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Added the expeditor config for canary
  .expeditor/config.yml
Owners: @chef/jex-team

adding adhoc canary
  .expeditor/config.yml
Owners: @chef/jex-team

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Reverted ruby version for testing
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Updated the dependencies
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

OpenSSL 3 upgrade and Fix for workstation CVEs
  .expeditor/release.omnibus.yml
  components/gems/Gemfile.lock
  omnibus/Gemfile.lock
  omnibus/config/projects/chef-workstation.rb
  omnibus/config/software/git-custom-bindir.rb
  omnibus_overrides.rb
Owners: @chef/jex-team, @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated chef to 18.3
  components/gems/Gemfile
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

unpin libxml/libxlt version
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Fix TOC for chef-vault
  docs-chef-io/content/workstation/chef_vault.md
Owners: @chef/docs-team

Updated the msi signing method
  omnibus/config/projects/chef-workstation.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Updated the omnibus gemfile.lock
  omnibus/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Use the default version of libxml2 and libxslt
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Updated the omnibus dependencies and reverted the libxml2 and libxslt to the default versions
  omnibus/Gemfile.lock
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Moved the patches from omnibus-software to workstation
  omnibus/config/patches/openssl/openssl-3.0.0-enable-legacy-provider.patch
  omnibus/config/patches/openssl/openssl-3.0.1-do-not-install-docs.patch
  omnibus/config/projects/chef-workstation.rb
  omnibus/config/software/openssl.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers
