Repository chef/chef-workstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers, @chef/jex-team, @chef/docs-team, @chef/user-experience

Bump kitchen-ec2 to 3.14.0
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

fix typo in arg
  src/workstation-gui/server.ps1
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Stop Rails service on Windows uninstall
  omnibus/resources/chef-workstation/msi/source.wxs.erb
  src/workstation-gui/stopserver.ps1
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Fixed the issue when repositories.json file is missing
  src/workstation-gui/app/controllers/api/v1/repositories_controller.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

set as immediate custom action
  omnibus/resources/chef-workstation/msi/source.wxs.erb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

try using immediate type CA in different way
  omnibus/resources/chef-workstation/msi/source.wxs.erb
  src/workstation-gui/stopserver.ps1
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Fixed the issues in the cookbook upload api
  src/workstation-gui/app/controllers/api/v1/authentication_controller.rb
  src/workstation-gui/app/controllers/api/v1/cookbooks_controller.rb
  src/workstation-gui/app/models/cookbook.rb
  src/workstation-gui/lib/exceptions.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Revert "try using immediate type CA in different way"
  omnibus/resources/chef-workstation/msi/source.wxs.erb
  src/workstation-gui/stopserver.ps1
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Revert "set as immediate custom action"
  omnibus/resources/chef-workstation/msi/source.wxs.erb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

set property as immediate then execute deferred
  omnibus/resources/chef-workstation/msi/source.wxs.erb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

set property after CostFinalize as values available then
  omnibus/resources/chef-workstation/msi/source.wxs.erb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Added Rails service stop when uninstalling on Windows (#2995)
  omnibus/resources/chef-workstation/msi/source.wxs.erb
  src/workstation-gui/stopserver.ps1
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Handled the repo name resolution in windows platform
  src/workstation-gui/app/controllers/api/v1/repositories_controller.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

update mac builder from EOL 10.15 to 11
  .expeditor/release.omnibus.yml
Owners: @chef/jex-team

Bump kitchen-ec2 to 3.15.0
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump nokogiri to 1.13.10
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump kitchen-vagrant to 1.13.0
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump Chef Workstation App to 0.2.181
  omnibus/config/software/chef-workstation-app.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

downgrading omnibus-software version
  omnibus/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

restore dep inadvertantly removed in earlier dependabot merge
  omnibus/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

restore dep inadvertantly removed in earlier dependabot merge (#3006)
  omnibus/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump kitchen-dokken to 2.17.4
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

added client-18 dependency
  components/gems/Gemfile
  components/gems/Gemfile.lock
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated knife version
  components/gems/Gemfile
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated dependency
  components/gems/Gemfile.lock
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

restore ucrt dep
  omnibus/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump test-kitchen to 3.5.0
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

keep change limited to loofah
  src/workstation-gui/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

limit update to nokogiri only
  src/workstation-gui/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated nokogiri dependency
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

restore ucrt dep
  omnibus/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump kitchen-vra to 3.3.0
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump Chef Workstation App to 0.2.183
  omnibus/config/software/chef-workstation-app.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Shorten titles
  docs-chef-io/content/workstation/chef-workstation-app.md
Owners: @chef/docs-team

Draft GUI App usage notes
  docs-chef-io/content/workstation/chef-workstation-app.md
Owners: @chef/docs-team

Update labels & add note on known limitation
  docs-chef-io/content/workstation/chef-workstation-app.md
Owners: @chef/docs-team

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence.

*                           @chef/chef-workstation-owners @chef/chef-workstation-approvers  @chef/chef-workstation-reviewers
.expeditor/                 @chef/jex-team
README.md                   @chef/docs-team
components/chef-cli/i18n/** @chef/user-experience
docs-chef-io/               @chef/docs-team
