Repository chef/chef-workstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers, @chef/jex-team, @chef/docs-team, @chef/user-experience

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence.

*                           @chef/chef-workstation-owners @chef/chef-workstation-approvers  @chef/chef-workstation-reviewers
.expeditor/                 @chef/jex-team
README.md                   @chef/docs-team
components/chef-cli/i18n/** @chef/user-experience
docs-chef-io/               @chef/docs-team

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Test on Ruby 3 + fix ruby path in dockerfile
  .expeditor/verify.pipeline.yml
  Dockerfile
  components/gems/Gemfile
Owners: @chef/jex-team, @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Test on Ruby 3 + fix ruby path in dockerfile (#2528)
  .expeditor/verify.pipeline.yml
  Dockerfile
  components/gems/Gemfile
Owners: @chef/jex-team, @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump chef-apply to 0.9.0
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Update builds to remove delivery logic / use the chef_deprecations binary
  .expeditor/config.yml
  .expeditor/update_delivery-cli_to_latest.sh
  dev-docs/Chef-CLI-Catalog.md
  docs-chef-io/content/workstation/ctl_chef.md
  omnibus/config/software/gems.rb
  omnibus_overrides.rb
Owners: @chef/jex-team, @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers, @chef/docs-team

Add GEM_HOME to environment variables to allow external gem installation
  Dockerfile
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Update builds to remove delivery logic / use the chef_deprecations binary (#2536)
  .expeditor/config.yml
  .expeditor/update_delivery-cli_to_latest.sh
  dev-docs/Chef-CLI-Catalog.md
  docs-chef-io/content/workstation/ctl_chef.md
  omnibus/config/software/gems.rb
  omnibus_overrides.rb
Owners: @chef/jex-team, @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers, @chef/docs-team

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

To fix varification test failure
  omnibus/verification/verify.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Fixed failing test
  omnibus/verification/spec/unit/verify_spec.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump cookstyle to 7.30.4
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump chef-cli to 5.5.6
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump cookstyle to 7.31.0
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump fauxhai-ng to 9.2.0
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump fauxhai-ng to 9.3.0
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

To integrate test coverage % report in PR creation or merge (#2489)
  .github/workflows/unit.yml
  Gemfile
  coverage/.last_run.json
  omnibus/verification/spec/spec_helper.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump Chef Workstation App to 0.2.112
  omnibus/config/software/chef-workstation-app.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Split up knife windows and knife winrm docs
  docs-chef-io/content/workstation/knife_windows.md
  docs-chef-io/content/workstation/knife_winrm.md
Owners: @chef/docs-team

Spelling, markdown, formatting
  docs-chef-io/content/workstation/knife_windows.md
  docs-chef-io/content/workstation/knife_winrm.md
  docs-chef-io/content/workstation/plugin_knife_opc.md
Owners: @chef/docs-team

Fix weird heading
  docs-chef-io/content/workstation/plugin_knife_opc.md
Owners: @chef/docs-team

Fix some capitalization
  docs-chef-io/content/workstation/knife_windows.md
  docs-chef-io/content/workstation/knife_winrm.md
Owners: @chef/docs-team

Split up knife windows and knife winrm docs (#2529)
  docs-chef-io/content/workstation/knife_windows.md
  docs-chef-io/content/workstation/knife_winrm.md
  docs-chef-io/content/workstation/plugin_knife_opc.md
Owners: @chef/docs-team

Update docs to call out Ubuntu supporting fips
  docs-chef-io/content/workstation/config_rb.md
Owners: @chef/docs-team

Update docs to call out Ubuntu supporting fips (#2530)
  docs-chef-io/content/workstation/config_rb.md
Owners: @chef/docs-team

Don't document setting ohai properties in config.rb
  docs-chef-io/content/workstation/config_rb.md
Owners: @chef/docs-team

Don't document setting ohai properties in config.rb (#2531)
  docs-chef-io/content/workstation/config_rb.md
Owners: @chef/docs-team

Bump cookstyle to 7.31.1
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump chef-apply to 0.9.2
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers
