Repository chef/chef-workstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers, @chef/jex-team, @chef/docs-team, @chef/user-experience

Updated the script to create prs for homebrew cask
  .expeditor/create_pr_for_homebrew.sh
Owners: @chef/jex-team

updated zlib to latest-1.3.1
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated go to 1.21.5
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

reverted back zlib to 1.3
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated zlib to 1.3
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated openssl to 3.0.12
  omnibus/config/software/openssl.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated openssl to 3.0.12
  omnibus/config/software/openssl.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated habitat to build arm hab package for linux arm64 platforms
  omnibus/config/software/habitat.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

removed the puts
  omnibus/resources/chef-workstation/rpm/signing.erb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

added the puts
  omnibus/config/software/habitat.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

added more logs
  omnibus/config/software/habitat.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated update_habitat.sh
  .expeditor/update_habitat.sh
Owners: @chef/jex-team

updated update_habitat.sh
  .expeditor/update_habitat.sh
Owners: @chef/jex-team

updated gemfile.lock
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated gemfile.lock
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated gemfile.lock
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated inspec-5.22.40
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Update docs-chef-io/content/workstation/cookstyle/_index.md
  docs-chef-io/content/workstation/cookstyle/_index.md
Owners: @chef/docs-team

Update docs-chef-io/content/workstation/cookstyle/_index.md
  docs-chef-io/content/workstation/cookstyle/_index.md
Owners: @chef/docs-team

Update docs-chef-io/content/workstation/cookstyle/_index.md
  docs-chef-io/content/workstation/cookstyle/_index.md
Owners: @chef/docs-team

Update docs-chef-io/content/workstation/cookstyle/_index.md
  docs-chef-io/content/workstation/cookstyle/_index.md
Owners: @chef/docs-team

updated omnibus and omnibus-sw version
  omnibus/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated omnibus_test.sh
  omnibus/omnibus-test.sh
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated omnibus_test.sh aarch value
  omnibus/omnibus-test.sh
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

calling updated aarch check function
  omnibus/omnibus-test.sh
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Update supported platforms
  docs-chef-io/content/workstation/reusable/md/workstation_supported_platforms.md
Owners: @chef/docs-team

Removed the unwanted commands added for testing
  omnibus/config/software/openssl.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Modified the steps to install the FIPS provider for OpenSSL
  components/gems/Gemfile
  components/gems/Gemfile.lock
  omnibus/config/software/openssl.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated habitat building in linux
  omnibus/config/projects/chef-workstation.rb
  omnibus/omnibus-test.sh
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated habitat building in linux
  omnibus/omnibus-test.sh
  omnibus/verification/verify.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated hab test for linux platorms
  omnibus/verification/verify.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated hab test for linux platorms
  components/main-chef-wrapper/platform-lib/version_linux.go
  omnibus/verification/verify.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

chef-Workstation 24.2 release (#3198)
  components/gems/Gemfile.lock
  omnibus/config/software/openssl.rb
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updating code to avoid hab build for al2023 aarch64
  .expeditor/update_habitat.sh
  omnibus/config/projects/chef-workstation.rb
  omnibus/config/software/habitat.rb
  omnibus/omnibus-test.sh
  omnibus/verification/verify.rb
Owners: @chef/jex-team, @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updating code to avoid hab build for al2023 aarch64
  components/main-chef-wrapper/platform-lib/version_linux.go
  omnibus/config/projects/chef-workstation.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updating code to avoid hab build for al2023 aarch64
  components/main-chef-wrapper/platform-lib/version_linux.go
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updating code to remove unwanted changes
  components/main-chef-wrapper/platform-lib/version_linux.go
  omnibus/omnibus-test.sh
  omnibus/verification/verify.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

added comments
  omnibus/config/projects/chef-workstation.rb
  omnibus/omnibus-test.sh
  omnibus/verification/verify.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

code cleanup and indentation
  components/main-chef-wrapper/platform-lib/version_linux.go
  omnibus/omnibus-test.sh
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence.

*                           @chef/chef-workstation-owners @chef/chef-workstation-approvers  @chef/chef-workstation-reviewers
.expeditor/                 @chef/jex-team
README.md                   @chef/docs-team
components/chef-cli/i18n/** @chef/user-experience
docs-chef-io/               @chef/docs-team
