Repository chef/chef-workstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers, @chef/jex-team, @chef/docs-team, @chef/user-experience

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence.

*                           @chef/chef-workstation-owners @chef/chef-workstation-approvers  @chef/chef-workstation-reviewers
.expeditor/                 @chef/jex-team
README.md                   @chef/docs-team
components/chef-cli/i18n/** @chef/user-experience
docs-chef-io/               @chef/docs-team

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump train-aws to 0.2.22
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

adding test in studiorc
  components/main-chef-wrapper/.studiorc
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

chnage in integartion code
  components/main-chef-wrapper/.studiorc
  components/main-chef-wrapper/main_test.go
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Update to latest stable version
  docs-chef-io/content/workstation/install_workstation.md
Owners: @chef/docs-team

Update to latest stable version (#2342)
  docs-chef-io/content/workstation/install_workstation.md
Owners: @chef/docs-team

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Updates knife cert commands
  docs-chef-io/content/workstation/knife_windows.md
Owners: @chef/docs-team

Reformat docs and clarifications
  docs-chef-io/content/workstation/knife_windows.md
Owners: @chef/docs-team

Bump Chef Workstation App to 0.2.76
  omnibus/config/software/chef-workstation-app.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

adding integration test in verify.pipline.yml
  .expeditor/verify.pipeline.yml
  components/main-chef-wrapper/main_test.go
Owners: @chef/jex-team, @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

changing path
  components/main-chef-wrapper/.studiorc
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

integartion test defualt path to src
  components/main-chef-wrapper/.studiorc
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

adding unit tests in verify pipeline
  .expeditor/verify.pipeline.yml
Owners: @chef/jex-team

running unit test
  components/main-chef-wrapper/main_test.go
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

adding unit tests in studiorc
  components/main-chef-wrapper/.studiorc
  components/main-chef-wrapper/cmd/capture_test.go
  components/main-chef-wrapper/cmd/cleanPolicyCookbooks_test.go
  components/main-chef-wrapper/cmd/cleanPolicyRevisions_test.go
  components/main-chef-wrapper/cmd/deletePolicyGroup_test.go
  components/main-chef-wrapper/cmd/deletePolicy_test.go
  components/main-chef-wrapper/cmd/describeCookbook_test.go
  components/main-chef-wrapper/cmd/diff_test.go
  components/main-chef-wrapper/cmd/env_test.go
  components/main-chef-wrapper/cmd/exec_test.go
  components/main-chef-wrapper/cmd/export_test.go
  components/main-chef-wrapper/cmd/gem_test.go
  components/main-chef-wrapper/cmd/generate_test.go
  components/main-chef-wrapper/cmd/install_test.go
  components/main-chef-wrapper/cmd/push_test.go
  components/main-chef-wrapper/cmd/report_test.go
  components/main-chef-wrapper/cmd/show-policy_test.go
  components/main-chef-wrapper/cmd/undelete_test.go
  components/main-chef-wrapper/cmd/update_test.go
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

correcting syntax
  components/main-chef-wrapper/.studiorc
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

correcting unit tests in studiorc
  components/main-chef-wrapper/.studiorc
  components/main-chef-wrapper/cmd/push-archive_test.go
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

unit test in studiorc
  components/main-chef-wrapper/.studiorc
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

unit test in studiorc
  components/main-chef-wrapper/.studiorc
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

unit test in studiorc
  components/main-chef-wrapper/.studiorc
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

unit test back to initial state
  components/main-chef-wrapper/.studiorc
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

unit test back to initial state
  components/main-chef-wrapper/.studiorc
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump omnibus and omnibus-software
  omnibus/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

correcting unit test
  components/main-chef-wrapper/.studiorc
  components/main-chef-wrapper/cmd/capture_test.go
  components/main-chef-wrapper/cmd/cleanPolicyCookbooks_test.go
  components/main-chef-wrapper/cmd/cleanPolicyRevisions_test.go
  components/main-chef-wrapper/cmd/deletePolicyGroup_test.go
  components/main-chef-wrapper/cmd/deletePolicy_test.go
  components/main-chef-wrapper/cmd/describeCookbook_test.go
  components/main-chef-wrapper/cmd/diff_test.go
  components/main-chef-wrapper/cmd/env_test.go
  components/main-chef-wrapper/cmd/exec_test.go
  components/main-chef-wrapper/cmd/export_test.go
  components/main-chef-wrapper/cmd/gem_test.go
  components/main-chef-wrapper/cmd/generate_test.go
  components/main-chef-wrapper/cmd/install_test.go
  components/main-chef-wrapper/cmd/push-archive_test.go
  components/main-chef-wrapper/cmd/push_test.go
  components/main-chef-wrapper/cmd/report_test.go
  components/main-chef-wrapper/cmd/show-policy_test.go
  components/main-chef-wrapper/cmd/undelete_test.go
  components/main-chef-wrapper/cmd/update_test.go
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump Chef Workstation App to 0.2.78
  omnibus/config/software/chef-workstation-app.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump ohai to 17.7.5
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump knife to 17.7.16
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump kitchen-dokken to 2.15.0
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Update omnibus version.
  omnibus/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Update omnibus version. (#2351)
  omnibus/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Change note, remove bad file
  .markdownlint.yaml
  docs-chef-io/content/workstation/knife_org.md
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers, @chef/docs-team

Bump chefstyle to 2.1.1
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump cookstyle to 7.25.8
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers
