Repository chef/chef-workstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers, @chef/jex-team, @chef/docs-team, @chef/user-experience

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence.

*                           @chef/chef-workstation-owners @chef/chef-workstation-approvers  @chef/chef-workstation-reviewers
.expeditor/                 @chef/jex-team
README.md                   @chef/docs-team
components/chef-cli/i18n/** @chef/user-experience
docs-chef-io/               @chef/docs-team

added the curl version 8.6.0
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated the docs to refer the latest chef-workstation version
  docs-chef-io/content/workstation/install_workstation.md
Owners: @chef/docs-team

updated the indentation
  docs-chef-io/content/workstation/install_workstation.md
Owners: @chef/docs-team

updated the indentation of md file
  docs-chef-io/content/workstation/install_workstation.md
Owners: @chef/docs-team

updated the indentation of md file
  docs-chef-io/content/workstation/install_workstation.md
Owners: @chef/docs-team

corrected the uppercase chef-workstation
  docs-chef-io/content/workstation/install_workstation.md
Owners: @chef/docs-team

Some more dep updates
  components/gems/Gemfile.lock
  omnibus/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

edits
  docs-chef-io/content/workstation/install_workstation.md
Owners: @chef/docs-team

updated curl to 8.7.1
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated openssl to 3.0.13
  omnibus/config/software/openssl.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated curl to 8.6.0
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated curl to 8.6.0
  omnibus/config/software/openssl.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated the curl for macOS
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Updated the knife-ec2 to the latest version
  components/gems/Gemfile.lock
  omnibus/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Examples
  docs-chef-io/content/workstation/install_workstation.md
Owners: @chef/docs-team

trying curl 8.5
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated doc cw version to latest
  docs-chef-io/content/workstation/install_workstation.md
Owners: @chef/docs-team

Copying the c_rehash.rb file to the bin directory
  c_rehash.rb
  omnibus/package-scripts/chef-workstation/postinst
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Updated the doc to point to latest CW version (#3227)
  docs-chef-io/content/workstation/install_workstation.md
Owners: @chef/docs-team

CHEF-3450 Replace downloads link
  README.md
Owners: @chef/docs-team

Update CHANGELOG.md to reflect the promotion of 24.4.1064
  CHANGELOG.md
  Dockerfile
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Using the omnibus to setup the c_rehash
  components/rehash/c_rehash.rb
  omnibus/config/projects/chef-workstation.rb
  omnibus/config/software/c_rehash_ruby.rb
  omnibus/package-scripts/chef-workstation/postinst
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Fixed the path issue
  omnibus/config/software/c_rehash_ruby.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Fixed the copy syntax
  omnibus/config/software/c_rehash_ruby.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executable permission for the ruby script
  omnibus/config/software/c_rehash_ruby.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Updated the command
  omnibus/config/software/c_rehash_ruby.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump Chef Workstation App to 0.2.191
  omnibus/config/software/chef-workstation-app.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Chefstyle fixes and final code cleanups
  components/rehash/c_rehash.rb
  omnibus/config/projects/chef-workstation.rb
  omnibus/config/software/c_rehash_ruby.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated the gems
  components/gems/Gemfile.lock
  omnibus/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

added back the removed gems
  components/gems/Gemfile.lock
  omnibus/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

corrected the space errors
  omnibus/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated habitat package to latest
  omnibus/config/software/habitat.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

CHEF-3450 Replace downloads link (#3223)
  README.md
Owners: @chef/docs-team

Update go.mod
  components/main-chef-wrapper/go.mod
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Update go.mod
  components/main-chef-wrapper/go.mod
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated golang verion and libraries
  components/main-chef-wrapper/go.mod
  components/main-chef-wrapper/go.sum
  components/main-chef-wrapper/vendor/github.com/aymanbagabas/go-osc52/v2/LICENSE
  components/main-chef-wrapper/vendor/github.com/aymanbagabas/go-osc52/v2/README.md
  components/main-chef-wrapper/vendor/github.com/aymanbagabas/go-osc52/v2/osc52.go
  components/main-chef-wrapper/vendor/github.com/muesli/termenv/copy.go
  components/main-chef-wrapper/vendor/github.com/muesli/termenv/hyperlink.go
  components/main-chef-wrapper/vendor/github.com/muesli/termenv/notification.go
  components/main-chef-wrapper/vendor/github.com/muesli/termenv/output.go
  components/main-chef-wrapper/vendor/github.com/muesli/termenv/profile.go
  components/main-chef-wrapper/vendor/github.com/muesli/termenv/termenv_other.go
  components/main-chef-wrapper/vendor/github.com/muesli/termenv/termenv_posix.go
  components/main-chef-wrapper/vendor/github.com/muesli/termenv/termenv_solaris.go
  components/main-chef-wrapper/vendor/github.com/rivo/uniseg/eastasianwidth.go
  components/main-chef-wrapper/vendor/github.com/rivo/uniseg/emojipresentation.go
  components/main-chef-wrapper/vendor/github.com/rivo/uniseg/gen_breaktest.go
  components/main-chef-wrapper/vendor/github.com/rivo/uniseg/gen_properties.go
  components/main-chef-wrapper/vendor/github.com/rivo/uniseg/graphemeproperties.go
  components/main-chef-wrapper/vendor/github.com/rivo/uniseg/graphemerules.go
  components/main-chef-wrapper/vendor/github.com/rivo/uniseg/line.go
  components/main-chef-wrapper/vendor/github.com/rivo/uniseg/lineproperties.go
  components/main-chef-wrapper/vendor/github.com/rivo/uniseg/linerules.go
  components/main-chef-wrapper/vendor/github.com/rivo/uniseg/sentence.go
  components/main-chef-wrapper/vendor/github.com/rivo/uniseg/sentenceproperties.go
  components/main-chef-wrapper/vendor/github.com/rivo/uniseg/sentencerules.go
  components/main-chef-wrapper/vendor/github.com/rivo/uniseg/step.go
  components/main-chef-wrapper/vendor/github.com/rivo/uniseg/width.go
  components/main-chef-wrapper/vendor/github.com/rivo/uniseg/word.go
  components/main-chef-wrapper/vendor/github.com/rivo/uniseg/wordproperties.go
  components/main-chef-wrapper/vendor/github.com/rivo/uniseg/wordrules.go
  components/main-chef-wrapper/vendor/golang.org/x/sys/unix/bpxsvc_zos.go
  components/main-chef-wrapper/vendor/golang.org/x/sys/unix/bpxsvc_zos.s
  components/main-chef-wrapper/vendor/golang.org/x/sys/unix/sockcmsg_zos.go
  components/main-chef-wrapper/vendor/golang.org/x/sys/unix/symaddr_zos_s390x.s
  components/main-chef-wrapper/vendor/golang.org/x/sys/unix/zsymaddr_zos_s390x.s
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers, @chef/docs-team

removed the additional line
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

reverted go version
  components/main-chef-wrapper/go.mod
  components/main-chef-wrapper/go.sum
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers
