Repository chef/chef-workstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers, @chef/jex-team, @chef/docs-team, @chef/user-experience

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence.

*                           @chef/chef-workstation-owners @chef/chef-workstation-approvers  @chef/chef-workstation-reviewers
.expeditor/                 @chef/jex-team
README.md                   @chef/docs-team
components/chef-cli/i18n/** @chef/user-experience
docs-chef-io/               @chef/docs-team

updated inspec to latest
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated logger statement
  components/main-chef-wrapper/main.go
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated the ffi-yajl
  omnibus/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated the gems
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

reading json using go embed
  components/main-chef-wrapper/main.go
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

added some comments
  components/main-chef-wrapper/main.go
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Updated Inspec to latest version (#3127)
  components/gems/Gemfile.lock
  omnibus/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

bump chef-cli version
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

bump chef-cli version (#3128)
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated go-libs dependency
  components/main-chef-wrapper/go.mod
  components/main-chef-wrapper/go.sum
  components/main-chef-wrapper/vendor/github.com/chef/go-libs/licensing/client.go
  components/main-chef-wrapper/vendor/github.com/chef/go-libs/licensing/licensing.go
  components/main-chef-wrapper/vendor/modules.txt
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Added the license command and feature flag to handle license changes (#3126)
  components/main-chef-wrapper/cmd/license.go
  components/main-chef-wrapper/cmd/license_test.go
  components/main-chef-wrapper/dist/licensingConfig.json
  components/main-chef-wrapper/main.go
  components/main-chef-wrapper/vendor/github.com/chef/go-libs/licensing/client.go
  components/main-chef-wrapper/vendor/github.com/chef/go-libs/licensing/licensing.go
  components/main-chef-wrapper/vendor/modules.txt
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Add license command usage notes
  docs-chef-io/content/workstation/ctl_chef.md
  docs-chef-io/layouts/shortcodes/chef-workstation/ctl_chef_license.md
  docs-chef-io/layouts/shortcodes/chef-workstation/ctl_chef_license_options.md
  docs-chef-io/layouts/shortcodes/chef-workstation/ctl_chef_license_syntax.md
Owners: @chef/docs-team

fix shortcode typo
  docs-chef-io/content/workstation/ctl_chef.md
Owners: @chef/docs-team

fix markdown heading typo
  docs-chef-io/content/workstation/ctl_chef.md
Owners: @chef/docs-team

fix link
  docs-chef-io/layouts/shortcodes/chef-workstation/ctl_chef_license.md
Owners: @chef/docs-team

Add license section in knife doc
  docs-chef-io/content/workstation/knife_setup.md
Owners: @chef/docs-team

Add license section in chef exec doc
  docs-chef-io/content/workstation/ctl_chef.md
Owners: @chef/docs-team

CHEF-3450 Replace download links
  docs-chef-io/content/workstation/install_workstation.md
  docs-chef-io/content/workstation/upgrade_lab.md
Owners: @chef/docs-team

CHEF-3450 Replace download links (#3134)
  docs-chef-io/content/workstation/install_workstation.md
  docs-chef-io/content/workstation/upgrade_lab.md
Owners: @chef/docs-team

Updated all the dependencies
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

added checkout git statement
  .expeditor/update_dep.sh
Owners: @chef/jex-team

added checkout git statement (#3137)
  .expeditor/update_dep.sh
Owners: @chef/jex-team

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Update CHANGELOG.md to reflect the promotion of 23.7.1042
  CHANGELOG.md
  Dockerfile
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

CHEF-3450 Repace downloads link
  docs-chef-io/content/workstation/install_workstation.md
Owners: @chef/docs-team

CHEF-3450 Repace downloads link (#3138)
  docs-chef-io/content/workstation/install_workstation.md
Owners: @chef/docs-team

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Updated the platform to use regex
  components/gems/Gemfile
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Adding Amazon linux 2023 to the release pipeline
  .expeditor/release.omnibus.yml
Owners: @chef/jex-team

Bump Chef Workstation App to 0.2.188
  omnibus/config/software/chef-workstation-app.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump Chef Workstation App to 0.2.189
  omnibus/config/software/chef-workstation-app.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump Chef Workstation App to 0.2.190
  omnibus/config/software/chef-workstation-app.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Updated the dependencies
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Restored the ffi mingw deps
  omnibus/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Restored the ffi mingw deps
  omnibus/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Updated bundler version
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers
