Repository chef/chef-workstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers, @chef/jex-team, @chef/docs-team, @chef/user-experience

updated openssl build to use fips from openssl 3.0.9
  omnibus/config/software/openssl.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated openssl build to use fips from openssl 3.0.9
  omnibus/config/software/openssl.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated openssl build to use fips from openssl 3.0.9
  omnibus/config/software/openssl.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated openssl build to use fips from openssl 3.0.9
  omnibus/config/software/openssl.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated openssl 3.4.1 build to use fips algo from openssl 3.0.9
  omnibus/config/software/openssl.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

handling windows scnarios
  omnibus/config/software/openssl.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

trying out commenting sed commands
  omnibus/config/software/openssl.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

uncommenting sed commands
  omnibus/config/software/openssl.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updating openssl version to 3.2.4
  omnibus/config/patches/openssl/openssl-3.2.4-do-not-install-docs.patch
  omnibus/config/patches/openssl/openssl-3.2.4-enable-legacy-provider.patch
  omnibus/config/software/openssl.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

fixing chefstyle error
  omnibus/config/software/openssl.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

added few coments and updated the rack dependency to 2.2.13
  components/gems/Gemfile.lock
  omnibus/Gemfile.lock
  omnibus/config/software/openssl.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

refarctoring the code
  omnibus/config/software/openssl.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updating test-kitchen to latest 3.7.0
  components/gems/Gemfile.lock
  omnibus/Gemfile
  omnibus/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

using my branch to pull chef-cli changes
  Gemfile
  components/gems/Gemfile
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

using my branch to pull chef-cli changes and updated lock file
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

fixing post-bundle-script.rb
  components/gems/post-bundle-install.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

fixing post-bundle-script.rb
  components/gems/post-bundle-install.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

fixing post-bundle-script.rb
  components/gems/post-bundle-install.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Updated the curl to version 8.12.1 and openSSL to version 3.2.4 (#3305)
  components/gems/Gemfile.lock
  omnibus/Gemfile.lock
  omnibus/config/patches/openssl/openssl-3.0.1-do-not-install-docs.patch
  omnibus/config/patches/openssl/openssl-3.2.4-do-not-install-docs.patch
  omnibus/config/patches/openssl/openssl-3.2.4-enable-legacy-provider.patch
  omnibus/config/software/openssl.rb
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

checking the gems list in windows
  omnibus/config/software/gems.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Chefstyle fixes to unblock releases cookstyle
  .expeditor/config.yml
  Gemfile
  Rakefile
  components/gems/Gemfile
  omnibus/config/projects/chef-workstation.rb
  omnibus/config/software/gems.rb
  omnibus/config/software/git-custom-bindir.rb
  omnibus/config/software/openssl.rb
Owners: @chef/jex-team, @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Using the kitchen-vcenter from branch
  components/gems/Gemfile
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Update Rakefile
  Rakefile
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updating test-kitchen to latest
  Gemfile
  components/gems/Gemfile
  components/gems/Gemfile.lock
  omnibus/Gemfile
  omnibus/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

make pipelines public: verify
  .expeditor/config.yml
Owners: @chef/jex-team

pulling chef-cli latest v5.6.18 from rubygems.org
  Gemfile
  components/gems/Gemfile
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updating chef-cli version
  components/gems/Gemfile
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

checking chef-cli ref
  Gemfile
  components/gems/Gemfile
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Remove macOS 11 from builder
  .expeditor/release.omnibus.yml
Owners: @chef/jex-team

direct source dep-selector-libgecode
  components/gems/Gemfile
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Use sha256 digests instead of sha1
  omnibus/resources/chef-workstation/rpm/spec.erb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Add env varaible
  .expeditor/config.yml
Owners: @chef/jex-team

Updating chef-cli to v5.6.18 and test-kitchen to v3.7.0 (#3312)
  components/gems/Gemfile.lock
  omnibus/Gemfile
  omnibus/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Using gemfury
  components/gems/Gemfile
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

add env variable -s
  .expeditor/config.yml
  components/gems/Gemfile
  omnibus/config/software/gems.rb
Owners: @chef/jex-team, @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Use sha256 digests instead of sha1 (#3295)
  omnibus/resources/chef-workstation/rpm/spec.erb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Updating chef-cli to v5.6.18 and test-kitchen to v3.7.0 (#3312)
  components/gems/Gemfile.lock
  omnibus/Gemfile
  omnibus/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Use sha256 digests instead of sha1 (#3295)
  omnibus/resources/chef-workstation/rpm/spec.erb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updating cookstyle
  Gemfile
  Rakefile
  components/gems/Gemfile
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence.

*                           @chef/chef-workstation-owners @chef/chef-workstation-approvers  @chef/chef-workstation-reviewers
.expeditor/                 @chef/jex-team
README.md                   @chef/docs-team
components/chef-cli/i18n/** @chef/user-experience
docs-chef-io/               @chef/docs-team
