Repository chef/chef-workstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers, @chef/jex-team, @chef/docs-team, @chef/user-experience

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence.

*                           @chef/chef-workstation-owners @chef/chef-workstation-approvers  @chef/chef-workstation-reviewers
.expeditor/                 @chef/jex-team
README.md                   @chef/docs-team
components/chef-cli/i18n/** @chef/user-experience
docs-chef-io/               @chef/docs-team

updated gemfile.lock
  components/gems/Gemfile.lock
  src/workstation-gui/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated gemfile.lock
  components/gems/Gemfile.lock
  omnibus/Gemfile.lock
  src/workstation-gui/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated platforms
  components/gems/Gemfile
  components/gems/Gemfile.lock
  cspell.json
  omnibus/Gemfile.lock
  src/workstation-gui/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated nokogiri in gemfile.lock
  components/gems/Gemfile.lock
  omnibus/config/projects/chef-workstation.rb
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated chef version
  components/gems/Gemfile
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated stunnel dependency
  omnibus/config/projects/chef-workstation.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated stunnel dependency
  .expeditor/release.omnibus.yml
  omnibus/config/projects/chef-workstation.rb
Owners: @chef/jex-team, @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

uodate lock files platforms
  components/gems/Gemfile
  components/gems/Gemfile.lock
  omnibus/Gemfile.lock
  src/workstation-gui/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated ming32
  Rakefile
  omnibus/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated platforms
  Rakefile
  components/gems/Gemfile
  components/gems/Gemfile.lock
  omnibus/Gemfile.lock
  src/workstation-gui/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated revision version
  omnibus/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated stunnel version
  omnibus/Gemfile
  omnibus/Gemfile.lock
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated openssl
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated UCRT64
  .expeditor/release.omnibus.yml
Owners: @chef/jex-team

updated bundler version
  components/gems/Gemfile.lock
  omnibus/Gemfile.lock
  src/workstation-gui/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated gemfile.lock
  components/gems/Gemfile
  components/gems/Gemfile.lock
  omnibus/Gemfile
  omnibus/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

stunnel version reverted
  omnibus/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated gemfile.lock
  components/gems/Gemfile
  components/gems/Gemfile.lock
  omnibus/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated platforms
  components/gems/Gemfile.lock
  omnibus/Gemfile.lock
  src/workstation-gui/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated gemfile.lock
  components/gems/Gemfile
  components/gems/Gemfile.lock
  omnibus/Gemfile.lock
  src/workstation-gui/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated stunnel version
  omnibus/Gemfile
  omnibus/Gemfile.lock
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

removed nokogiri dependency
  omnibus/config/projects/chef-workstation.rb
  omnibus_overrides.rb
  src/workstation-gui/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

openssl version reverted
  omnibus/Gemfile.lock
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

reverted stunnel and openssl version
  omnibus/Gemfile
  omnibus/Gemfile.lock
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated the platforms
  components/gems/Gemfile.lock
  omnibus/Gemfile.lock
  src/workstation-gui/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated the platforms
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated the unnecessary changes
  components/gems/Gemfile
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated the unnecessary changes
  components/gems/Gemfile
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated the unnecessary changes
  .expeditor/config.yml
  Rakefile
  components/gems/Gemfile
  components/gems/README.md
  cspell.json
Owners: @chef/jex-team, @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers, @chef/docs-team

reverted rest-client gem
  .expeditor/config.yml
  components/gems/Gemfile.lock
Owners: @chef/jex-team, @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

reverted omnibus-sw to main
  omnibus/Gemfile
  omnibus/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated gemfile.lock
  components/gems/Gemfile.lock
  omnibus/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump kitchen-dokken to 2.19.1
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

ChefSpec Assigned to Progress Chef Ownership
  docs-chef-io/content/workstation/chefspec.md
Owners: @chef/docs-team

update github org to chef
  docs-chef-io/content/workstation/chefspec.md
Owners: @chef/docs-team

Documentation: ChefSpec Assigned to Progress Chef Ownership (#2991)
  docs-chef-io/content/workstation/chefspec.md
Owners: @chef/docs-team

updated chef version
  components/gems/Gemfile
  components/gems/Gemfile.lock
  omnibus/config/software/chef-dlls.rb
  omnibus/config/software/powershell-scripts.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

downgraded chef to 18.0
  components/gems/Gemfile
  components/gems/Gemfile.lock
  omnibus/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated workstation gui gems
  components/gems/Gemfile
  src/workstation-gui/Gemfile
  src/workstation-gui/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers
