Repository chef/chef-workstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers, @chef/jex-team, @chef/docs-team, @chef/user-experience

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence.

*                           @chef/chef-workstation-owners @chef/chef-workstation-approvers  @chef/chef-workstation-reviewers
.expeditor/                 @chef/jex-team
README.md                   @chef/docs-team
components/chef-cli/i18n/** @chef/user-experience
docs-chef-io/               @chef/docs-team

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump fauxhai-ng to 9.0.1
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump fauxhai-ng to 9.1.0
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

debugging path error
  components/main-chef-wrapper/cmd/version.go
  components/main-chef-wrapper/integration/e2e_test.go
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

adding double quotes for chef style
  omnibus/files/rubygems-customization/windows/operating_system.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

changing root path for cases when test is run
  components/main-chef-wrapper/platform-lib/version_darwin.go
  components/main-chef-wrapper/platform-lib/version_linux.go
  components/main-chef-wrapper/platform-lib/version_windows.go
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

importing string in linux platform
  components/main-chef-wrapper/platform-lib/version_linux.go
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump kitchen-ec2 to 3.11.0
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Update CHANGELOG.md to reflect the promotion of 21.11.679
  CHANGELOG.md
  Dockerfile
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

update fork base branch reference to main
  .expeditor/create_pr_for_homebrew.sh
Owners: @chef/jex-team

Update homebrew-cask base branch to main (#2375)
  .expeditor/create_pr_for_homebrew.sh
Owners: @chef/jex-team

added the doc in integration test
  components/main-chef-wrapper/.studiorc
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump win32-service to 2.3.2
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

commented the integration call
  components/main-chef-wrapper/.studiorc
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

resolving version build issue causing test failure
  components/main-chef-wrapper/cmd/version.go
  components/main-chef-wrapper/main.go
  components/main-chef-wrapper/platform-lib/version_darwin.go
  components/main-chef-wrapper/platform-lib/version_linux.go
  components/main-chef-wrapper/platform-lib/version_windows.go
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

unknown subcommand handled
  components/main-chef-wrapper/cmd/root.go
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump Chef Workstation App to 0.2.83
  omnibus/config/software/chef-workstation-app.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Stop producing macOS 10.14 packages
  .expeditor/release.omnibus.yml
  docs-chef-io/content/workstation/install_workstation.md
Owners: @chef/jex-team, @chef/docs-team

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

add m1 architecture in target platforms
  .expeditor/release.omnibus.yml
Owners: @chef/jex-team

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump Chef Workstation App to 0.2.84
  omnibus/config/software/chef-workstation-app.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

just keep git repo URL, remove origin argument
  .expeditor/create_pr_for_homebrew.sh
Owners: @chef/jex-team

just keep git repo URL, remove origin argument (#2386)
  .expeditor/create_pr_for_homebrew.sh
Owners: @chef/jex-team

Bump kitchen-ec2 to 3.11.1
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

sync with git.rb in omnibus-software
  omnibus/config/software/git-custom-bindir.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

update brew commands as cask subcommand now obsolete
  .expeditor/create_pr_for_homebrew.sh
Owners: @chef/jex-team

Fix brew command syntax (#2391)
  .expeditor/create_pr_for_homebrew.sh
Owners: @chef/jex-team

Bump chef-analyze CLI to 0.1.119
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

addressed review comments. cleared aix and freebsd specific code.
  omnibus/config/software/git-custom-bindir.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump chefstyle to 2.1.3
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Executed '.expeditor/determine_version.sh'
  CHANGELOG.md
  VERSION
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Bump cookstyle to 7.25.10
  components/gems/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

check if cask already up-to-date
  .expeditor/create_pr_for_homebrew.sh
Owners: @chef/jex-team

check if cask already up-to-date (#2397)
  .expeditor/create_pr_for_homebrew.sh
Owners: @chef/jex-team
