Repository chef/chef-workstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers, @chef/jex-team, @chef/docs-team, @chef/user-experience

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence.

*                           @chef/chef-workstation-owners @chef/chef-workstation-approvers  @chef/chef-workstation-reviewers
.expeditor/                 @chef/jex-team
README.md                   @chef/docs-team
components/chef-cli/i18n/** @chef/user-experience
docs-chef-io/               @chef/docs-team

update kitchen-vagrant to 2.2.0
  components/gems/Gemfile.lock
  omnibus/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

update chef-zero to 15.0.26
  components/gems/Gemfile.lock
  omnibus/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

manaully restore window-dependency
  components/gems/Gemfile.lock
  omnibus/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

fix mixlib shellout version
  components/gems/Gemfile.lock
  omnibus/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

fix wm-lite version
  components/gems/Gemfile.lock
  omnibus/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

fix license acceptance
  components/gems/Gemfile.lock
  omnibus/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated go package to v go24
  components/main-chef-wrapper/.studiorc
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Set GOPROXY to fix dependency download issues in hab-studio
  components/main-chef-wrapper/.studiorc
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Add go mod tidy before go mod vendor in build_cross_platform
  components/main-chef-wrapper/.studiorc
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Install gcc in build_cross_platform for cgo compilation
  components/main-chef-wrapper/.studiorc
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Creating CODE_OF_CONDUCT
  CODE_OF_CONDUCT.md
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Remove SLA text from README.md
  README.md
Owners: @chef/docs-team

Remove remaining SLA references
  README.md
Owners: @chef/docs-team

Deprecate mac 12 and update Mac 13 as builder (#3439)
  .expeditor/release.omnibus.yml
Owners: @chef/jex-team

update pedump to 0.7.3
  omnibus/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

update mixlib-archive to 1.3.3
  components/gems/Gemfile.lock
  omnibus/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated libxml2 to 2.14.4
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

restore window dependency
  components/gems/Gemfile.lock
  omnibus/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

added go mod tidy
  omnibus/config/software/main-chef-wrapper.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updating openssl to 3.2.6
  omnibus/config/patches/openssl/openssl-3.2.6-do-not-install-docs.patch
  omnibus/config/patches/openssl/openssl-3.2.6-enable-legacy-provider.patch
  omnibus/config/software/openssl.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated string to trigger expeditor check
  components/gems/post-bundle-install.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated string to trigger expeditor check
  omnibus/config/software/main-chef-wrapper.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

Update libxml2 to 2.14.4 (#3458)
  omnibus/config/software/main-chef-wrapper.rb
  omnibus_overrides.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

trying to fix build for rhel-7
  omnibus/config/software/openssl.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

adding patch for el-7 platforms
  omnibus/config/patches/openssl/openssl-3.2.6-fix-time-piece-el7.patch
  omnibus/config/software/openssl.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

fixing el-7 platforms for openssl upgrade
  omnibus/config/patches/openssl/openssl-3.2.6-fix-time-piece-el7.patch
  omnibus/config/software/openssl.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

fixing el-7 platforms for openssl upgrade
  omnibus/config/software/openssl.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

fixing el-7 platforms for openssl upgrade
  omnibus/config/software/openssl.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

fixing el-7 platforms for openssl upgrade
  omnibus/config/software/openssl.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

fixing el-7 platforms for openssl upgrade
  omnibus/config/software/openssl.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

fixing el-7 platforms for openssl upgrade
  omnibus/config/software/openssl.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

updated the comment
  omnibus/config/software/openssl.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

update omnibus-software version
  omnibus/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

CHEF-27941: Fix CVE-2025-24294 - resolv DoS vulnerability (#3459)
  components/gems/Gemfile
  components/gems/Gemfile.lock
  components/gems/post-bundle-install.rb
  cspell.json
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

CHEF-26930: Fix RuboCop style violations
  omnibus/config/software/openssl.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

CHEF-26930: Address code review feedback
  omnibus/config/software/openssl.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

CHEF-26930: Add comment explaining command chaining necessity
  omnibus/config/software/openssl.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

CHEF-26930: Add comment clarifying PERL5LIB timing
  omnibus/config/software/openssl.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

fixing rubocop
  omnibus/config/software/openssl.rb
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers

update omnibus-sw commit
  omnibus/Gemfile.lock
Owners: @chef/chef-workstation-owners, @chef/chef-workstation-approvers, @chef/chef-workstation-reviewers
