Repository chef/chef-workstation, pull requests merged in 2018-10, with the labels that each got.

#254 [SHACK-367] Bump minor version for GA
  VERSION
Labels: do-not-merge

#276 Updates "about.md" for Workstation
  www/site/content/docs/chef-workstation/about.md
Labels: Type: Documentation

#275 Adds chef-run user guide under Workstation
  www/site/content/docs/chef-workstation/chef-run-users-guide.md
Labels: Type: Documentation

#273 Adds the in-flight Chef Workstation App doc page
  www/site/content/docs/chef-workstation/chef-workstation-app.md
Labels: Type: Documentation

#285 Removing some copyrighted names from examples
  www/site/content/docs/chef-workstation/chef-run-users-guide.md
Labels: Expeditor: Skip Build, Type: Documentation

#289 post-merge doc updates
  www/site/content/docs/chef-workstation/about.md
  www/site/content/docs/chef-workstation/chef-run-users-guide.md
  www/site/content/docs/chef-workstation/chef-workstation-app.md
Labels: Expeditor: Skip Build, Type: Documentation

#291 Fix bad copy-pasta in link address
  www/site/content/docs/chef-workstation/chef-run-users-guide.md
  www/site/content/docs/chef-workstation/chef-workstation-app.md
Labels: Expeditor: Skip Build, Type: Documentation

#292 Fixing a bad link in documentation
  www/site/content/docs/chef-workstation/chef-run-users-guide.md
Labels: Expeditor: Skip Build

#306 Fix two additional links to be relative
  www/site/content/docs/chef-workstation/getting-started.md
  www/site/content/docs/chef-workstation/install.md
  www/site/content/docs/reference/config.md
Labels: Expeditor: Skip All
