Repository chef/chef-workstation, pull requests merged in 2019-05, with the labels that each got.

#369 update repo to new Chef OSS practices
  README.md
Labels: Aspect: Documentation, Expeditor: Skip All

#377 Minor changes to omnibus-test.ps1 script
  omnibus/omnibus-test.ps1
Labels: Expeditor: Skip All

#379 Copying in the latest ChefDK 3 omnibus definitions to fix the Workstation build
  omnibus/Gemfile
  omnibus/Gemfile.lock
  omnibus/config/projects/chef-workstation.rb
  omnibus/config/software/chef-dk.rb
  omnibus/files/chef-dk-env-customization/windows/chefdk_env_customization.rb
  omnibus/files/openssl-customization/windows/ssl_env_hack.rb
  omnibus/files/rubygems-customization/windows/operating_system.rb
Labels: Expeditor: Bump Version Minor

#382 Replace Jenkins omnibus build/test pipeline with Buildkite
  .expeditor/config.yml
  .expeditor/release.omnibus.yml
  ci/verify.bat
  ci/verify.sh
Labels: Expeditor: Skip All
