Repository chef/chef-workstation, pull requests merged in 2019-08, with the labels that each got.

#423 [ci] Add artifactory to omnibus/Gemfile and update omnibus gem
  omnibus/Gemfile
  omnibus/Gemfile.lock
Labels: Expeditor: Skip All

#425 Move ChefDK gem bumping logic to Chef Workstation
  .expeditor/config.yml
  .expeditor/update_dep.sh
Labels: Aspect: Packaging, Expeditor: Skip All, Type: Chore, Type: Enhancement, Type: Tech Debt

#439 Surround announcement release notes with newlines
  .expeditor/announce-release.sh
Labels: Expeditor: Skip All

#447 Fix the build arguments in the Dockerfile
  Dockerfile
Labels: Expeditor: Skip All

#458 Update chef gem on release, do not update dk
  .expeditor/config.yml
  .expeditor/update_chef.sh
  .expeditor/update_chefdk_to_stable.sh
Labels: Aspect: Packaging, Expeditor: Skip All

#461 Bump cookstyle to 5.4.13
  components/gems/Gemfile.lock
Labels: Expeditor: Bump Version Minor
