Repository chef/chef-workstation, pull requests merged in 2019-10, with the labels that each got.

#551 Update new chef-cli binary
  omnibus/package-scripts/chef-workstation/postinst
  omnibus/package-scripts/chef-workstation/postrm
Labels: Aspect: Packaging, Type: Design Proposal

#491 Stop calling the workstation toolbar experimental
  omnibus/package-scripts/chef-workstation/postinst
  omnibus/resources/chef-workstation/msi/localization-en-us.wxl.erb
  omnibus/resources/chef-workstation/pkg/welcome.html.erb
Labels: Aspect: Documentation, Type: Chore, Type: Tech Debt

#553 Package new `chef-analyze` binary
  omnibus/config/projects/chef-workstation.rb
  omnibus/config/software/chef-analyze.rb
  omnibus/omnibus-test.ps1
  omnibus/omnibus-test.sh
  omnibus/package-scripts/chef-workstation/postinst
  omnibus/package-scripts/chef-workstation/postrm
Labels: Aspect: Packaging, Aspect: Performance, Status: Adopted

#519 Top-level chef CMD wrapper
  .expeditor/verify.pipeline.yml
  .gitignore
  .studiorc
  components/gems/Gemfile
  components/main-chef-wrapper/README.md
  components/main-chef-wrapper/main.go
  omnibus/config/projects/chef-workstation.rb
  omnibus/config/software/main-chef-wrapper.rb
  omnibus/kitchen.yml
  omnibus/package-scripts/chef-workstation/postinst
Labels: Aspect: Packaging, Aspect: Performance, Status: Adopted, Type: Design Proposal

#416 Enable habitat packages for linux.
  .gitignore
  components/gems/.gitignore
  habitat/plan.sh
  omnibus/config/software/gems.rb
Labels: Aspect: Packaging, Priority: Low, Size: L, Type: Enhancement

#577 Update omnibus tests to unblock pipeline
  omnibus/verification/verify.rb
Labels: Expeditor: Skip Changelog

#582 Fix pipeline: Take 2
  omnibus/verification/spec/unit/verify_spec.rb
Labels: Expeditor: Skip Changelog

#581 Pin chef-analyze version and add subscription
  .expeditor/config.yml
  .expeditor/update_chef-analyze_to_latest.sh
  omnibus_overrides.rb
Labels: Aspect: Packaging, Status: Adopted
