Repository chef/chef-workstation, pull requests merged in 2019-09, with the labels that each got.

#477 Fix unzip of chef-workstation-app (Electron-App)
  .gitignore
  omnibus/omnibus-test.ps1
  omnibus/omnibus-test.sh
  omnibus/package-scripts/chef-workstation/postinst
Labels: Aspect: Correctness, Aspect: Packaging, Type: Bug

#481 Update gem-version-manifest software definition
  omnibus/config/projects/chef-workstation.rb
  omnibus/config/software/gem-version-manifest.rb
  omnibus/files/gem-version-manifest/default/installed_gems_as_json.rb
  omnibus/files/rubygems-customization/windows/operating_system.rb
Labels: Type: Chore

#509 Simplify the builder cookbook
  omnibus/cookbooks/chef-workstation-builder/metadata.rb
  omnibus/cookbooks/chef-workstation-builder/recipes/default.rb
Labels: Expeditor: Skip Omnibus

#507 Remove the unused ChefDK patches
  omnibus/config/patches/chef-dk/cli.patch
  omnibus/config/patches/chef-dk/dist.patch
Labels: Expeditor: Skip Omnibus

#479 Transplant verify functionality from chef-cli
  .expeditor/verify.pipeline.yml
  Gemfile
  omnibus/omnibus-test.ps1
  omnibus/omnibus-test.sh
  omnibus/verification/README.md
  omnibus/verification/component_test.rb
  omnibus/verification/run.rb
  omnibus/verification/spec/spec_helper.rb
  omnibus/verification/spec/unit/component_test_spec.rb
  omnibus/verification/spec/unit/fixtures/eg_omnibus_dir/missing_apps/bin/.keep
  omnibus/verification/spec/unit/fixtures/eg_omnibus_dir/missing_apps/embedded/.keep
  omnibus/verification/spec/unit/fixtures/eg_omnibus_dir/missing_apps/embedded/bin/.keep
  omnibus/verification/spec/unit/fixtures/eg_omnibus_dir/missing_component/bin/.keep
  omnibus/verification/spec/unit/fixtures/eg_omnibus_dir/missing_component/embedded/apps/berkshelf/.keep
  omnibus/verification/spec/unit/fixtures/eg_omnibus_dir/missing_component/embedded/apps/test-kitchen/.keep
  omnibus/verification/spec/unit/fixtures/eg_omnibus_dir/missing_component/embedded/bin/.keep
  omnibus/verification/spec/unit/fixtures/eg_omnibus_dir/valid/bin/.keep
  omnibus/verification/spec/unit/fixtures/eg_omnibus_dir/valid/embedded/apps/berkshelf/integration_test
  omnibus/verification/spec/unit/fixtures/eg_omnibus_dir/valid/embedded/apps/berkshelf/verify_me
  omnibus/verification/spec/unit/fixtures/eg_omnibus_dir/valid/embedded/apps/chef/verify_me
  omnibus/verification/spec/unit/fixtures/eg_omnibus_dir/valid/embedded/apps/test-kitchen/verify_me
  omnibus/verification/spec/unit/fixtures/eg_omnibus_dir/valid/embedded/bin/.keep
  omnibus/verification/spec/unit/verify_spec.rb
  omnibus/verification/verify.rb
Labels: Aspect: Testing, Status: Adopted, Type: Chore

#530 Updating github auth in Expeditor to match expected behavior
  .expeditor/publish-release-notes.sh
Labels: Expeditor: Skip All
