Repository chef/chef-workstation, pull requests merged in 2019-07, with the labels that each got.

#403 Update the omnibus build license to the Chef EULA
  omnibus/CHEF-EULA.md
  omnibus/config/projects/chef-workstation.rb
Labels: Expeditor: Bump Version Minor

#402 Fix readme formatting and update the codeowners
  .github/CODEOWNERS
  README.md
Labels: Expeditor: Skip All

#408 Bump ChefDK to 4.2.0
  omnibus_overrides.rb
Labels: Expeditor: Bump Version Minor

#400 Build Chef Workstation as a self contained project w/o depending on the ChefDK project
  components/gems/Gemfile
  components/gems/Gemfile.lock
  components/gems/README.md
  components/gems/Rakefile
  omnibus/config/patches/chef-dk/base.patch
  omnibus/config/projects/chef-workstation.rb
  omnibus/config/software/chef-dk.rb
  omnibus/config/software/gems.rb
  omnibus/kitchen.yml
  omnibus_overrides.rb
Labels: Expeditor: Bump Version Minor

#417 Remove cucumber, dco, knife-spork
  components/gems/Gemfile
  components/gems/Gemfile.lock
  omnibus/config/software/gems.rb
  omnibus/package-scripts/chef-workstation/postinst
  omnibus/package-scripts/chef-workstation/preinst
Labels: Aspect: Packaging, Expeditor: Bump Version Minor, Size: M, Type: Deprecation
