Repository chef/chef-workstation, pull requests merged in 2019-11, with the labels that each got.

#654 [bug-fix] Enable interactive 'chef' commands
  components/main-chef-wrapper/main.go
Labels: Aspect: Stability, Status: Adopted, Type: Bug

#658 Make it clear in testing when we run the verify suite
  omnibus/omnibus-test.ps1
  omnibus/omnibus-test.sh
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#711 Hide chef-analyze behind a feature flag
  components/main-chef-wrapper/go.mod
  components/main-chef-wrapper/go.sum
  components/main-chef-wrapper/main.go
Labels: Aspect: Stability, Aspect: UX, Priority: Critical, Status: Adopted, Triage: Confirmed, Type: Enhancement

#714 Cleanup additional files / folders in the installed gems
  omnibus/config/software/more-ruby-cleanup.rb
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#717 Enables CHEF_FEAT_ANALYZE in CI omnibus tests
  omnibus/omnibus-test.ps1
  omnibus/omnibus-test.sh
Labels: Aspect: Testing, Status: Adopted, Triage: Confirmed, Type: Chore
