Repository chef/chef-workstation, pull requests merged in 2019-06, with the labels that each got.

#383 Preparing for Chef Workstation 0.4 release - EULA support
  omnibus/Gemfile.lock
  omnibus/config/patches/chef-dk/base.patch
  omnibus/config/patches/chef-dk/cli.patch
  omnibus/config/software/chef-dk.rb
  omnibus/omnibus-test.ps1
  omnibus/omnibus-test.sh
  omnibus_overrides.rb
Labels: Expeditor: Bump Version Minor

#387 Fix buildkite omnibus build
  ci/verify.bat
  ci/verify.sh
  omnibus/config/software/chef-workstation-app.rb
  omnibus/config/software/nodejs-binary.rb
  omnibus/omnibus-test.ps1
  omnibus/omnibus-test.sh
Labels: Expeditor: Skip All

#388 Update the omnibus readme to reflect reality
  omnibus/README.md
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#390 Use new omnibus-toolchain scripts in omnibus-test.* scripts
  omnibus/omnibus-test.ps1
  omnibus/omnibus-test.sh
Labels: Expeditor: Skip All
