Repository chef/chef-workstation, pull requests merged in 2020-03, with the labels that each got.

#1009 Reverting Inspec to fix some known issues
  components/gems/Gemfile
  components/gems/Gemfile.lock
Labels: Aspect: Packaging, Triage: Confirmed, Type: Regression

#1026 Pinning bundler back to 1.x to fix builds
  components/gems/Gemfile.lock
Labels: Aspect: Packaging, Expeditor: Bump Version Minor, Triage: Confirmed, Type: Chore

#1049 Add kitchen-openstack
  components/gems/Gemfile
  components/gems/Gemfile.lock
Labels: Aspect: Integration, Aspect: Packaging, Priority: Medium, Triage: Feature Request, Type: Enhancement
