Repository chef/chef-workstation, pull requests merged in 2020-02, with the labels that each got.

#914 Update knife pins to once again require the new gems
  components/gems/Gemfile
  components/gems/Gemfile.lock
  omnibus/Gemfile.lock
Labels: Expeditor: Bump Version Minor

#671 Enable the Workstation App to run at boot on Windows
  omnibus/resources/chef-workstation/msi/localization-en-us.wxl.erb
  omnibus/resources/chef-workstation/msi/source.wxs.erb
Labels: Type: Enhancement

#913 mac_os:(launcher) run at boot
  omnibus/files/uninstall-scripts/uninstall_chef_workstation
  omnibus/package-scripts/chef-workstation/postinst
Labels: Aspect: Stability, Platform: macOS, Triage: Feature Request, Type: Enhancement

#930 Fix link to api tokens in user guide
  www/site/content/docs/chef-workstation/chef-run-users-guide.md
Labels: Expeditor: Skip All

#951 Update knife-google to 4.2.8 and kitchen-vcenter to 2.6.2
  .github/ISSUE_TEMPLATE/SUPPORT_QUESTION.md
  components/gems/Gemfile.lock
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#877 (design_proposal): chef cli catalog
  docs/Chef-CLI-Catalog.md
  docs/img/chef-top-level-command.jpg
  docs/img/mocked-chef-help-command.png
Labels: Status: Adopted, Triage: Confirmed, Type: Design Proposal

#988 Fixing the pipeline - complains about i18n not being installed
  .expeditor/update_dep.sh
  components/gems/Gemfile.lock
Labels: Type: Chore
