Repository chef/chef-workstation, pull requests merged in 2020-04, with the labels that each got.

#1071 Updates documentation in chef-workstation
  www/Makefile
  www/README.md
  www/content/workstation/_index.md
  www/content/workstation/chef-workstation-app.md
  www/content/workstation/config.md
  www/content/workstation/ctl_kitchen.md
  www/content/workstation/privacy.md
  www/content/workstation/troubleshooting.md
  www/layouts/shortcodes/ws_knife_ssl_check_bad_ssl_certificate.md
  www/themes/docs-new/layouts/shortcodes/readFile_shortcode.html
  www/themes/docs-new/layouts/shortcodes/shortcode_indent.html
Labels: Documentation

#1081 Use Expeditor's built in Bash helper to post release announcement
  .expeditor/announce-release.sh
Labels: Expeditor: Skip All

#1092 Add go.mod file so we can preview changes to workstation docs locally
  www/README.md
  www/go.mod
  www/main.go
Labels: Aspect: Documentation

#1088 Add Windows examples
  www/content/workstation/knife_bootstrap.md
Labels: Aspect: Documentation

#1089 Clarify Windows requirements
  www/content/workstation/knife_bootstrap.md
Labels: Aspect: Documentation

#1091 Add missing node options for policyfiles
  www/content/workstation/knife_bootstrap.md
Labels: Aspect: Documentation

#1108 Add empty third party pkg pipeline to expeditor
  .expeditor/config.yml
  .expeditor/third-party-packages.pipeline.yml
Labels: Expeditor: Skip Omnibus

#1122 Manually building and installing docker-api gem
  components/gems/Gemfile
  components/gems/Gemfile.lock
  omnibus/config/software/docker-api.rb
  omnibus/config/software/gems.rb
Labels: Triage: Confirmed, Type: Bug

#1132 Fix netlify.toml file
  www/netlify.toml
  www/netlify_production/index.html
Labels: Aspect: Documentation

#1126 Bump down headings in markdown content
  www/content/workstation/_index.md
  www/content/workstation/berkshelf.md
  www/content/workstation/chef_run.md
  www/content/workstation/chef_shell.md
  www/content/workstation/chef_vault.md
  www/content/workstation/chefspec.md
  www/content/workstation/config_rb.md
  www/content/workstation/config_rb_optional_settings.md
  www/content/workstation/config_yml_kitchen.md
  www/content/workstation/cookstyle.md
  www/content/workstation/ctl_chef_apply.md
  www/content/workstation/ctl_kitchen.md
  www/content/workstation/ctl_push_jobs_client.md
  www/content/workstation/foodcritic.md
  www/content/workstation/getting_started.md
  www/content/workstation/install_workstation.md
  www/content/workstation/kitchen.md
  www/content/workstation/knife.md
  www/content/workstation/knife_azure.md
  www/content/workstation/knife_azurerm.md
  www/content/workstation/knife_bootstrap.md
  www/content/workstation/knife_client.md
  www/content/workstation/knife_configure.md
  www/content/workstation/knife_cookbook.md
  www/content/workstation/knife_cookbook_site.md
  www/content/workstation/knife_data_bag.md
  www/content/workstation/knife_delete.md
  www/content/workstation/knife_deps.md
  www/content/workstation/knife_diff.md
  www/content/workstation/knife_download.md
  www/content/workstation/knife_edit.md
  www/content/workstation/knife_environment.md
  www/content/workstation/knife_exec.md
  www/content/workstation/knife_list.md
  www/content/workstation/knife_node.md
  www/content/workstation/knife_raw.md
  www/content/workstation/knife_recipe_list.md
  www/content/workstation/knife_role.md
  www/content/workstation/knife_search.md
  www/content/workstation/knife_serve.md
  www/content/workstation/knife_setup.md
  www/content/workstation/knife_show.md
  www/content/workstation/knife_ssh.md
  www/content/workstation/knife_ssl_check.md
  www/content/workstation/knife_ssl_fetch.md
  www/content/workstation/knife_status.md
  www/content/workstation/knife_supermarket.md
  www/content/workstation/knife_tag.md
  www/content/workstation/knife_upload.md
  www/content/workstation/knife_user.md
  www/content/workstation/knife_windows.md
  www/content/workstation/knife_xargs.md
  www/content/workstation/plugin_knife_opc.md
  www/content/workstation/privacy.md
  www/content/workstation/troubleshooting.md
Labels: Aspect: Documentation
