Repository chef/chef-workstation, pull requests merged in 2020-06, with the labels that each got.

#1136 Upgrade Labs Documentation
  www/content/workstation/upgrade_labs.md
Labels: Documentation

#1241 Rename upgrade_labs, add alias
  www/content/workstation/upgrade_lab.md
Labels: Aspect: Documentation

#1275 Fix reference to "chef analyze report" in upgrade lab
  www/content/workstation/upgrade_lab.md
Labels: Aspect: Documentation

#1248 Remove the Chef Workstation 0.18 branch config
  .expeditor/config.yml
  .expeditor/verify.pipeline.yml
Labels: Expeditor: Skip All

#1258 Update help info
  www/content/workstation/upgrade_lab.md
Labels: Aspect: Documentation, Documentation
