Repository chef/chef-workstation, pull requests merged in 2020-05, with the labels that each got.

#1157 Fix netlify build ignore
  www/netlify.toml
Labels: Aspect: Documentation

#1173 Cache gems in testing using Expeditor gem caching
  .expeditor/run_linux_tests.sh
  .expeditor/verify.pipeline.yml
  Gemfile
  omnibus/verification/verify.rb
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#1172 Remove expeditor subscriptions for chef-sugar and foodcritic
  .expeditor/config.yml
Labels: Expeditor: Skip Changelog, Expeditor: Skip Version Bump

#1175 unsubscribe to dep updates to prevent dual PRs
  .expeditor/config.yml
  omnibus/verification/verify.rb
Labels: Expeditor: Skip Changelog, Expeditor: Skip Version Bump

#1116 Add brew install example
  www/content/workstation/install_workstation.md
Labels: Aspect: Documentation, Documentation

#1213 Update kitchen-digitalocean to 0.11
  components/gems/Gemfile.lock
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus
