Repository chef/chef-workstation, pull requests merged in 2020-12, with the labels that each got.

#1568 Update the install Chef Workstation page
  docs-chef-io/content/workstation/install_workstation.md
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus, Expeditor: Skip Version Bump

#1597 Chef directory update
  docs-chef-io/content/workstation/getting_started.md
Labels: Aspect: Documentation, Documentation, Expeditor: Skip Version Bump

#1604 Don't create a build / bump version for docs
  .expeditor/config.yml
Labels: Expeditor: Skip All

#1601 Move Upgrade Lab under tools menu
  docs-chef-io/content/workstation/upgrade_lab.md
Labels: Aspect: Documentation, Documentation

#1224 How to set up knife
  docs-chef-io/content/workstation/config_rb.md
  docs-chef-io/content/workstation/knife_setup.md
Labels: Aspect: Documentation, Epic

#1606 Remove the old syntax_check_cache_path config
  docs-chef-io/content/workstation/config_rb.md
Labels: Aspect: Documentation

#1605 Minor cleanup of the config.rb page
  docs-chef-io/content/workstation/config_rb.md
Labels: Aspect: Documentation

#1611 More updates to our expeditor config
  .expeditor/config.yml
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus, Expeditor: Skip Version Bump
