Repository chef/chef-workstation, pull requests merged in 2020-01, with the labels that each got.

#856 Simplify our Ruby cleanup in ommnibus
  omnibus/Berksfile
  omnibus/Gemfile
  omnibus/Gemfile.lock
  omnibus/config/software/more-ruby-cleanup.rb
  omnibus/kitchen.yml
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#878 Update Chef Infra Client to 15.7.30
  components/gems/Gemfile
  components/gems/Gemfile.lock
  omnibus/Gemfile.lock
Labels: Expeditor: Bump Version Minor

#705 Adds Feature Flags documentation
  www/site/content/docs/chef-workstation/getting-started.md
  www/site/content/docs/reference/config.md
Labels: Aspect: Documentation, Aspect: UX, Triage: Needs Information, Type: Design Proposal
