Repository chef/chef-workstation, pull requests merged in 2021-06, with the labels that each got.

#2042 Remove the mention of the chef-vault cookbook and gem installation
  docs-chef-io/content/workstation/chef_vault.md
Labels: Expeditor: Skip Version Bump

#2040 Remove legacy knife azure docs and update azurerm docs
  docs-chef-io/content/workstation/knife_azure.md
  docs-chef-io/content/workstation/knife_azurerm.md
Labels: Expeditor: Skip Version Bump

#2047 Certificate -> Private Key in setup
  docs-chef-io/content/workstation/getting_started.md
Labels: Aspect: Documentation

#2046 Remove some incorrect information on setting up knife
  docs-chef-io/content/workstation/knife_setup.md
Labels: Aspect: Documentation

#2050 Remove mentions of Ubuntu 16.04
  docs-chef-io/content/workstation/config_yml_kitchen.md
  docs-chef-io/content/workstation/knife_search.md
Labels: Aspect: Documentation

#2048 Update setup instructions to use knife configure
  docs-chef-io/content/workstation/getting_started.md
Labels: Documentation

#2059 Collapse the requirements down to a single section
  docs-chef-io/content/workstation/install_workstation.md
Labels: Expeditor: Skip Version Bump

#2060 Use more reasonable ram/disk requirements
  docs-chef-io/content/workstation/install_workstation.md
Labels: Expeditor: Skip Version Bump

#2080 Reduce @docs-team PR approvals
  .github/CODEOWNERS
Labels: Expeditor: Skip All
