Repository chef/chef-workstation, pull requests merged in 2021-12, with the labels that each got.

#2447 Update omnibus/Gemfile.lock
  omnibus/Gemfile.lock
Labels: Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#2465 Bump hugo to 0.91.2
  docs-chef-io/netlify.toml
Labels: Documentation

#2470 Downloads links
  docs-chef-io/content/workstation/install_workstation.md
  docs-chef-io/content/workstation/upgrade_lab.md
Labels: Aspect: Documentation, Documentation
