Repository chef/chef-workstation, pull requests merged in 2021-02, with the labels that each got.

#1702 Remove (wrong) config docs for `chef export`
  docs-chef-io/content/workstation/ctl_chef.md
Labels: Aspect: Documentation

#1705 Don't include Foodcritic docs in the menu
  docs-chef-io/content/workstation/foodcritic.md
Labels: Aspect: Documentation

#1678 Move cookstyle page in the docs
  docs-chef-io/content/workstation/cookstyle/_index.md
Labels: Aspect: Documentation

#1707 add metadata to every page in docs.chef.io/workstation
  docs-chef-io/content/workstation/_index.md
Labels: Aspect: Documentation, Documentation

#1556 Remove macOS 10.13 from the build matrix
  .expeditor/release.omnibus.yml
Labels: Platform: macOS, Type: Chore

#1743 Clarify why we don't setup ruby on Windows
  docs-chef-io/content/workstation/getting_started.md
Labels: Aspect: Documentation, Documentation

#1733 Updates to the installation instructions
  docs-chef-io/content/workstation/install_workstation.md
Labels: Aspect: Documentation, Documentation

#1734 Update Workstation description with a better list of tools
  docs-chef-io/content/workstation/_index.md
Labels: Aspect: Documentation, Documentation

#1744 Add Amazon Linux 2 as a supported OS
  docs-chef-io/content/workstation/install_workstation.md
Labels: Aspect: Documentation, Documentation

#1762 Extend the chocolatey.org push timeout to 60 minutes
  .expeditor/third-party-packages.pipeline.yml
Labels: Expeditor: Skip All

#1769 Loosen deps and raise the floors
  components/gems/Gemfile
  components/gems/Gemfile.lock
Labels: Expeditor: Skip Version Bump

#1771 Simplify our inspec dep in the gemfile
  components/gems/Gemfile
  components/gems/Gemfile.lock
Labels: Expeditor: Skip Version Bump

#1775 Fix heading
  docs-chef-io/content/workstation/getting_started.md
Labels: Aspect: Documentation, Documentation

#1776 Remove chef-apply docs
  docs-chef-io/content/workstation/ctl_chef_apply.md
Labels: Aspect: Documentation, Documentation

#1777 Support artifact_published workload data
  .expeditor/update_dep.sh
Labels: Expeditor: Skip All

#1768 Remove macOS 10.13 from the docs
  docs-chef-io/content/workstation/install_workstation.md
Labels: Aspect: Documentation, Documentation
