Repository chef/chef-workstation, pull requests merged in 2021-09, with the labels that each got.

#2292 Manually specify promotion actions in Expeditor
  .expeditor/config.yml
Labels: Expeditor: Skip All

#2294 Update changelog to include stable release 21.9.613
  CHANGELOG.md
Labels: Expeditor: Skip All

#2287 Move knife extensions to Workstation
  docs-chef-io/content/workstation/plugin_knife.md
  docs-chef-io/content/workstation/plugin_knife_custom.md
Labels: Aspect: Documentation, Documentation

#2300 Replaced /main/ from /master/
  docs-chef-io/content/workstation/plugin_knife_custom.md
Labels: Aspect: Documentation
