Repository chef/chef-workstation, pull requests merged in 2021-01, with the labels that each got.

#1624 Update docs and omnibus script to match supported platforms
  docs-chef-io/content/workstation/chefspec.md
  docs-chef-io/content/workstation/install_workstation.md
  omnibus/kitchen.yml
Labels: Aspect: Documentation

#1630 Update the versions in the install example
  docs-chef-io/content/workstation/install_workstation.md
Labels: Aspect: Documentation

#1638 Prevent duplicate inspec bump PRs
  .expeditor/config.yml
Labels: Expeditor: Skip All

#1641 Recipe DSL -> Chef Infra Language
  docs-chef-io/content/workstation/chef_vault.md
  docs-chef-io/content/workstation/foodcritic.md
Labels: Aspect: Documentation

#1645 Fix the url path causing Page not found error
  docs-chef-io/content/workstation/ctl_kitchen.md
Labels: Aspect: Documentation

#1661 docs: Remove --admin from knife client create docs
  docs-chef-io/content/workstation/knife_client.md
Labels: Aspect: Documentation

#1676 Add RHEL example
  docs-chef-io/content/workstation/install_workstation.md
Labels: Aspect: Documentation, Documentation

#1659 Fix whitespace in markdown
  docs-chef-io/content/workstation/_index.md
  docs-chef-io/content/workstation/berkshelf.md
  docs-chef-io/content/workstation/chef-workstation-app.md
  docs-chef-io/content/workstation/chef_shell.md
  docs-chef-io/content/workstation/chef_vault.md
  docs-chef-io/content/workstation/chefspec.md
  docs-chef-io/content/workstation/config.md
  docs-chef-io/content/workstation/config_rb.md
  docs-chef-io/content/workstation/config_rb_optional_settings.md
  docs-chef-io/content/workstation/config_yml_kitchen.md
  docs-chef-io/content/workstation/cookstyle.md
  docs-chef-io/content/workstation/ctl_chef.md
  docs-chef-io/content/workstation/ctl_chef_apply.md
  docs-chef-io/content/workstation/ctl_kitchen.md
  docs-chef-io/content/workstation/foodcritic.md
  docs-chef-io/content/workstation/getting_started.md
  docs-chef-io/content/workstation/install_workstation.md
  docs-chef-io/content/workstation/kitchen.md
  docs-chef-io/content/workstation/knife.md
  docs-chef-io/content/workstation/knife_azure.md
  docs-chef-io/content/workstation/knife_azurerm.md
  docs-chef-io/content/workstation/knife_bootstrap.md
  docs-chef-io/content/workstation/knife_client.md
  docs-chef-io/content/workstation/knife_configure.md
  docs-chef-io/content/workstation/knife_cookbook.md
  docs-chef-io/content/workstation/knife_cookbook_site.md
  docs-chef-io/content/workstation/knife_data_bag.md
  docs-chef-io/content/workstation/knife_delete.md
  docs-chef-io/content/workstation/knife_deps.md
  docs-chef-io/content/workstation/knife_diff.md
  docs-chef-io/content/workstation/knife_download.md
  docs-chef-io/content/workstation/knife_edit.md
  docs-chef-io/content/workstation/knife_environment.md
  docs-chef-io/content/workstation/knife_exec.md
  docs-chef-io/content/workstation/knife_list.md
  docs-chef-io/content/workstation/knife_node.md
  docs-chef-io/content/workstation/knife_options.md
  docs-chef-io/content/workstation/knife_raw.md
  docs-chef-io/content/workstation/knife_role.md
  docs-chef-io/content/workstation/knife_search.md
  docs-chef-io/content/workstation/knife_serve.md
  docs-chef-io/content/workstation/knife_setup.md
  docs-chef-io/content/workstation/knife_show.md
  docs-chef-io/content/workstation/knife_ssh.md
  docs-chef-io/content/workstation/knife_ssl_check.md
  docs-chef-io/content/workstation/knife_ssl_fetch.md
  docs-chef-io/content/workstation/knife_status.md
  docs-chef-io/content/workstation/knife_supermarket.md
  docs-chef-io/content/workstation/knife_upload.md
  docs-chef-io/content/workstation/knife_user.md
  docs-chef-io/content/workstation/knife_windows.md
  docs-chef-io/content/workstation/knife_xargs.md
  docs-chef-io/content/workstation/plugin_knife_opc.md
  docs-chef-io/content/workstation/troubleshooting.md
  docs-chef-io/content/workstation/upgrade_lab.md
Labels: Aspect: Documentation, Documentation

#1677 Removes admin flag
  docs-chef-io/content/workstation/config_rb_optional_settings.md
  docs-chef-io/content/workstation/knife_client.md
  docs-chef-io/content/workstation/knife_user.md
Labels: Aspect: Documentation, Documentation
