Repository chef/chef-workstation, pull requests merged in 2021-03, with the labels that each got.

#1767 Update docs for the new upgrade behavior
  docs-chef-io/content/workstation/install_workstation.md
Labels: Aspect: Documentation, Documentation

#1797 Update Chef Infra repository setup
  docs-chef-io/content/workstation/getting_started.md
Labels: Aspect: Documentation, Documentation

#1800 Simplify and order nav
  docs-chef-io/content/workstation/_index.md
  docs-chef-io/content/workstation/config.md
  docs-chef-io/content/workstation/getting_started.md
  docs-chef-io/content/workstation/install_workstation.md
  docs-chef-io/content/workstation/privacy.md
  docs-chef-io/content/workstation/troubleshooting.md
Labels: Aspect: Documentation, Documentation

#1781 config_rb & knife exec updates for user & user keys global endpoints #2240
  docs-chef-io/content/workstation/config_rb.md
  docs-chef-io/content/workstation/knife_exec.md
Labels: Aspect: Documentation, Documentation

#1808 Document installing workstation via choco
  docs-chef-io/content/workstation/install_workstation.md
Labels: Aspect: Documentation, Documentation

#1811 Update the habitat promotion subscription again
  .expeditor/config.yml
Labels: Expeditor: Skip All

#1740 Rewrite the Getting Started page
  docs-chef-io/content/workstation/getting_started.md
Labels: Aspect: Documentation, Documentation

#1855 Use the chef_workstation shortcode consistently
  docs-chef-io/content/workstation/install_workstation.md
Labels: Aspect: Documentation
