Repository chef/chef-workstation, pull requests merged in 2021-04, with the labels that each got.

#1799 Intro for revised Getting Started
  docs-chef-io/content/workstation/getting_started.md
Labels: Aspect: Documentation, Documentation

#1919 Update tests to handle local omnibus packages from Buildkite artifacts api
  omnibus/omnibus-test.ps1
  omnibus/omnibus-test.sh
Labels: Do Not Merge

#1924 Update Dobi annotations to address tagging bug
  dobi.yaml
Labels: Expeditor: Skip All

#1867 More work on the configuration page
  docs-chef-io/content/workstation/getting_started.md
Labels: Expeditor: Skip Version Bump

#1950 Fix the setup page title / clarify needs
  docs-chef-io/content/workstation/install_workstation.md
  docs-chef-io/content/workstation/setup.md
Labels: Expeditor: Skip Version Bump

#1954 Fix relref in docs
  docs-chef-io/content/workstation/install_workstation.md
  docs-chef-io/content/workstation/setup.md
Labels: Expeditor: Skip Version Bump
