Repository chef/chef-workstation, pull requests merged in 2021-05, with the labels that each got.

#1932 Remove pipeline-specific logic from test scripts
  omnibus/omnibus-test.ps1
  omnibus/omnibus-test.sh
Labels: Do Not Merge, Expeditor: Skip All

#1955 Revert filename to fix link problems
  docs-chef-io/content/workstation/getting_started.md
Labels: Aspect: Documentation, Documentation

#1965 Fix bad link
  docs-chef-io/content/workstation/install_workstation.md
Labels: Documentation

#1973 Update upgrade_lab.md
  docs-chef-io/content/workstation/upgrade_lab.md
Labels: Aspect: Documentation

#1985 update to properly find edit linux and windows shas
  .expeditor/update_habitat.sh
Labels: Expeditor: Skip Version Bump
