Repository chef/chef-workstation, pull requests merged in 2022-11, with the labels that each got.

#2970 Fix a bunch of typos and a few bad links
  docs-chef-io/content/workstation/config_rb_optional_settings.md
  docs-chef-io/content/workstation/getting_started.md
Labels: Documentation

#2972 Minor correction on config.md
  docs-chef-io/content/workstation/config.md
Labels: Expeditor: Skip All, Documentation

#2977 Fix a few docs typos
  docs-chef-io/content/workstation/ctl_chef.md
  docs-chef-io/layouts/shortcodes/chef-workstation/ctl_chef_install.md
  docs-chef-io/layouts/shortcodes/chef-workstation/ctl_chef_undelete.md
Labels: Expeditor: Skip All, Documentation

#2964 INFWS-151 Add a note on cache directory
  docs-chef-io/content/workstation/ctl_chef.md
Labels: Expeditor: Skip All, Documentation

#2982 Removed Ubuntu 16 and added support for Ubuntu 22.04
  .expeditor/release.omnibus.yml
  docs-chef-io/content/workstation/install_workstation.md
Labels: Expeditor: Skip All
