Repository chef/chef-workstation, pull requests merged in 2022-03, with the labels that each got.

#2637 attempt to keep rb-fsevent version in sync.
  omnibus/config/software/rb-fsevent-gem.rb
Labels: Expeditor: Skip All

#2650 Update docs makefile
  docs-chef-io/Makefile
Labels: Aspect: Documentation, Documentation

#2631 Edits to improve linting
  .vale.ini
  cspell.json
  docs-chef-io/content/workstation/_index.md
  docs-chef-io/content/workstation/berkshelf.md
  docs-chef-io/content/workstation/chef-workstation-app.md
  docs-chef-io/content/workstation/chef_run.md
  docs-chef-io/content/workstation/chef_shell.md
  docs-chef-io/content/workstation/chef_vault.md
  docs-chef-io/content/workstation/chefspec.md
  docs-chef-io/content/workstation/config_rb.md
  docs-chef-io/content/workstation/config_rb_optional_settings.md
  docs-chef-io/content/workstation/config_yml_kitchen.md
  docs-chef-io/content/workstation/cookstyle/_index.md
  docs-chef-io/content/workstation/ctl_chef.md
  docs-chef-io/content/workstation/foodcritic.md
  docs-chef-io/content/workstation/install_workstation.md
  docs-chef-io/content/workstation/knife.md
  docs-chef-io/content/workstation/knife_cookbook_site.md
  docs-chef-io/content/workstation/knife_deps.md
  docs-chef-io/content/workstation/knife_environment.md
  docs-chef-io/content/workstation/knife_exec.md
  docs-chef-io/content/workstation/knife_node.md
  docs-chef-io/content/workstation/knife_options.md
  docs-chef-io/content/workstation/knife_setup.md
  docs-chef-io/content/workstation/knife_ssh.md
  docs-chef-io/content/workstation/knife_ssl_check.md
  docs-chef-io/content/workstation/knife_ssl_fetch.md
  docs-chef-io/content/workstation/knife_tag.md
  docs-chef-io/content/workstation/knife_windows.md
  docs-chef-io/content/workstation/plugin_knife_custom.md
Labels: Documentation

#2657 Remove extra periods from knife_client.md
  docs-chef-io/content/workstation/knife_client.md
Labels: Documentation
