Repository chef/chef-workstation, pull requests merged in 2022-06, with the labels that each got.

#2815 Update omnibus/Gemfile.lock
  omnibus/Gemfile.lock
Labels: Expeditor: Skip All

#2829 bump berkshelf in sync with components/gems
  omnibus/Gemfile.lock
Labels: Expeditor: Skip Changelog

#1923 Restart Chef Workstation Powershell for success
  docs-chef-io/content/workstation/troubleshooting.md
Labels: Documentation

#2831 Shortcode fix
  docs-chef-io/content/workstation/kitchen.md
  docs-chef-io/layouts/shortcodes/chef-workstation/test_kitchen.md
Labels: Documentation
