Repository chef/chef-workstation, pull requests merged in 2022-01, with the labels that each got.

#2095 Initial README stubs
  dev-docs/README.md
  dev-docs/Release-Process.md
  dev-docs/architecture/chef-infra.png
  dev-docs/architecture/chef-infra.wsd
Labels: Expeditor: Skip All

#2507 Fix URLs to docs and release process markdown
  dev-docs/README.md
Labels: Expeditor: Skip All

#2526 Fix dead links in docs
  docs-chef-io/content/workstation/knife.md
  docs-chef-io/content/workstation/knife_azurerm.md
  docs-chef-io/content/workstation/knife_windows.md
  docs-chef-io/content/workstation/plugin_knife_custom.md
Labels: Aspect: Documentation, Documentation

#2529 Split up knife windows and knife winrm docs
  docs-chef-io/content/workstation/knife_windows.md
  docs-chef-io/content/workstation/knife_winrm.md
  docs-chef-io/content/workstation/plugin_knife_opc.md
Labels: Aspect: Documentation, Documentation

#2530 Update docs to call out Ubuntu supporting fips
  docs-chef-io/content/workstation/config_rb.md
Labels: Expeditor: Skip Version Bump, Aspect: Documentation, Expeditor: Skip Habitat, Expeditor: Skip Omnibus

#2531 Don't document setting ohai properties in config.rb
  docs-chef-io/content/workstation/config_rb.md
Labels: Expeditor: Skip All, Aspect: Documentation
