Repository chef/chef-workstation, pull requests merged in 2022-02, with the labels that each got.

#2588 Remove obsolete delivery related subcommand
  docs-chef-io/content/workstation/ctl_chef.md
Labels: Expeditor: Skip All, Aspect: Documentation

#2610 Fixes to pass Markdown linting
  docs-chef-io/content/workstation/_index.md
  docs-chef-io/content/workstation/berkshelf.md
  docs-chef-io/content/workstation/chef-workstation-app.md
  docs-chef-io/content/workstation/chef_run.md
  docs-chef-io/content/workstation/chef_shell.md
  docs-chef-io/content/workstation/chef_vault.md
  docs-chef-io/content/workstation/chefspec.md
  docs-chef-io/content/workstation/config.md
  docs-chef-io/content/workstation/config_rb.md
  docs-chef-io/content/workstation/config_rb_optional_settings.md
  docs-chef-io/content/workstation/config_yml_kitchen.md
  docs-chef-io/content/workstation/ctl_chef.md
  docs-chef-io/content/workstation/ctl_kitchen.md
  docs-chef-io/content/workstation/foodcritic.md
  docs-chef-io/content/workstation/getting_started.md
  docs-chef-io/content/workstation/install_workstation.md
  docs-chef-io/content/workstation/knife.md
  docs-chef-io/content/workstation/knife_azurerm.md
  docs-chef-io/content/workstation/knife_bootstrap.md
  docs-chef-io/content/workstation/knife_client.md
  docs-chef-io/content/workstation/knife_configure.md
  docs-chef-io/content/workstation/knife_cookbook.md
  docs-chef-io/content/workstation/knife_cookbook_site.md
  docs-chef-io/content/workstation/knife_data_bag.md
  docs-chef-io/content/workstation/knife_deps.md
  docs-chef-io/content/workstation/knife_diff.md
  docs-chef-io/content/workstation/knife_download.md
  docs-chef-io/content/workstation/knife_edit.md
  docs-chef-io/content/workstation/knife_environment.md
  docs-chef-io/content/workstation/knife_exec.md
  docs-chef-io/content/workstation/knife_list.md
  docs-chef-io/content/workstation/knife_node.md
  docs-chef-io/content/workstation/knife_org.md
  docs-chef-io/content/workstation/knife_raw.md
  docs-chef-io/content/workstation/knife_recipe_list.md
  docs-chef-io/content/workstation/knife_role.md
  docs-chef-io/content/workstation/knife_search.md
  docs-chef-io/content/workstation/knife_setup.md
  docs-chef-io/content/workstation/knife_show.md
  docs-chef-io/content/workstation/knife_ssh.md
  docs-chef-io/content/workstation/knife_ssl_check.md
  docs-chef-io/content/workstation/knife_ssl_fetch.md
  docs-chef-io/content/workstation/knife_status.md
  docs-chef-io/content/workstation/knife_supermarket.md
  docs-chef-io/content/workstation/knife_tag.md
  docs-chef-io/content/workstation/knife_upload.md
  docs-chef-io/content/workstation/knife_user.md
  docs-chef-io/content/workstation/knife_windows.md
  docs-chef-io/content/workstation/knife_xargs.md
  docs-chef-io/content/workstation/plugin_knife.md
  docs-chef-io/content/workstation/plugin_knife_custom.md
  docs-chef-io/content/workstation/plugin_knife_opc.md
  docs-chef-io/content/workstation/troubleshooting.md
  docs-chef-io/content/workstation/upgrade_lab.md
Labels: Documentation

#2616 Add compliance phase chef generator doc section
  docs-chef-io/content/workstation/ctl_chef.md
Labels: Expeditor: Skip All, Documentation
