Repository chef/chef-workstation, pull requests merged in 2022-05, with the labels that each got.

#2756 Fix spelling
  docs-chef-io/content/workstation/getting_started.md
Labels: Expeditor: Skip All, Aspect: Documentation, Documentation

#2763 Update omnibus and omnibus-software in Gemfile.lock
  omnibus/Gemfile.lock
Labels: Expeditor: Skip All

#2776 Fix omnibus-test.ps1
  omnibus/omnibus-test.ps1
Labels: Expeditor: Skip All

#2795 Remove hugo and go version from netlify config
  docs-chef-io/netlify.toml
Labels: Documentation

#2794 Remove deprecated --without flag
  omnibus/config/software/gems.rb
Labels: Expeditor: Skip All
