Repository chef/chef-workstation, pull requests merged in 2023-01, with the labels that each got.

#3025 Explicitly specify arm64 so Rosetta prompt goes away
  omnibus/resources/chef-workstation/pkg/distribution.xml.erb
Labels: Expeditor: Skip All, Type: Chore

#2954 INFWS-182 Draft GUI App usage notes
  docs-chef-io/content/workstation/chef-workstation-app.md
Labels: Expeditor: Skip All, Documentation

#3002 Documentation: No Private Key Passphrase Support in knife
  docs-chef-io/content/workstation/knife_bootstrap.md
Labels: Expeditor: Skip All, Documentation

#3037 Update chef-workstation-app version
  omnibus/config/software/chef-workstation-app.rb
Labels: Expeditor: Skip All

#3028 INFWS-175 Tweaks in post-install script
  omnibus/package-scripts/chef-workstation/postinst
  src/workstation-gui/poststeps.sh
Labels: Type: Bug, Platform: macOS
